/* $font-family-gotham:   "gotham_regular", sans-serif !default; */
// Iconography
// -------------------------
$icon-font-path:          "../../fonts/";
$theme-font-path:          "../../fonts/";

// Image
// -------------------------
$image-theme-path:'../../image/green/';
$image-theme-path-base:  '../../image/'!default;

$green:                #ffffff;
$theme-color           :$green;
$theme-bg           :#91b85b;
$body-color           :#1e2327;
$topbar-bg             :#91b85b;
$topbar-color          :#fff;
$topbar-color-hover	   :#a8c582;
$megamenu-link-color   :#1e2327;
$megamenu-link-bg   :#91b85b;
$border-color          :#e9ecf5;
$search-icon-color     :#1e2327;
$search-icon-bg  :#1e2327;
$btn-green-hover: #91b85b;
$theme-default-bg: #1e2327;

/*
$font-family-base :$font-family-gotham;
$font-family      :$font-family-gotham;
$headings-font-family:$font-family-gotham; */