$icon-font-path:          "../../fonts/";
$theme-font-path:          "../../fonts/";

$font-family-gotham:   "Bitter", sans-serif !default;

$green:        #ffffff;
$brand-success: 		  $green !default;
$btn-success-bg:          #ffffff !default;
$link-hover-color:      $brand-success;
$carousel-control-hover-color: $brand-success;
$body-bg: #ffffff !default;


$font-family-base :$font-family-gotham !default;
$font-family      :$font-family-gotham !default;
$headings-font-family:$font-family-gotham !default;