
<div class="<?php echo $prefix; ?> pav-newsletter space-25 space-top-20" id="newsletter_<?php echo $position.$module;?>">
	<form id="formNewLestter" method="post" action="<?php echo $action; ?>" class="formNewLestter">
		<div class="content">                
			<div class="clearfix">
				<div class="call-us col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<i class="fa fa-phone"></i> CALL US <b>(+1000) 123456789</b>
				</div>
				<div class="input-group col-lg-8 col-md-8 col-sm-12 col-xs-12">
					<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12" style="position: relative;">
						<i class="fa fa-envelope"></i>
						<input type="text" placeholder="Subcribe to receive inspiration, ideas, and news in your inbox" class="form-control email" <?php if(!isset($customer_email)): ?> <?php endif; ?> size="18" name="email">
					</div>
					<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
						<button type="submit" name="submitNewsletter" class="btn btn-default btn-inverse border-2"><?php echo $objlang->get("button_subscribe");?></button>
					</div>
				</div>
			 
				<input type="hidden" value="1" name="action">
				<div class="valid"></div>
			</div>
			<?php if (!empty($social)): ?>
					<?php  echo html_entity_decode( $social );?>
			<?php endif ?>
		</div>	
	</form>
</div>

<script type="text/javascript"><!--

$( document ).ready(function() {

	$('#formNewLestter').on('submit', function() {
		var email = $('.email').val();
		$(".success_inline, .warning_inline, .error").remove();
		if(!isValidEmailAddress(email)) {				
			$('.valid').html("<div class=\"error alert alert-danger\"><?php echo $objlang->get('valid_email'); ?><button type=\"button\" class=\"close\" data-dismiss=\"alert\">×</button></div></div>");
			$('.email').focus();
			return false;
		}
	
		var url = "<?php echo $action; ?>";
		$.ajax({
			type: "post",
			url: url,
			data: $("#formNewLestter").serialize(),
			dataType: 'json',
			success: function(json)
			{
				$(".success_inline, .warning_inline, .error").remove();
				if (json['error']) {
					$('.valid').html("<div class=\"warning_inline alert alert-danger\">"+json['error']+"<button type=\"button\" class=\"close\" data-dismiss=\"alert\">×</button></div>");
				}
				if (json['success']) {
					$('.valid').html("<div class=\"success_inline alert alert-success\">"+json['success']+"<button type=\"button\" class=\"close\" data-dismiss=\"alert\">×</button></div>");
				}
			}
		}); return false;
	
	}); //end submmit
}); //end document

function isValidEmailAddress(emailAddress) {
	var pattern = new RegExp(/^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i);
	return pattern.test(emailAddress);
}
--></script>