<div class="pav-verticalmenu panel-v1">
<div class="panel-heading"><h4 class="panel-title">Categories</h4></div>
	<div class="navbar navbar-default">
		<div id="mainmenutop" class="verticalmenu" role="navigation">
			<div class="navbar-header">
			<a href="javascript:;" data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		     </a>
			<div class="collapse navbar-collapse navbar-ex1-collapse">
			<?php echo $treemenu; ?>
			 </div></div>
		</div>
	</div>
</div>