
/* customize for body,body #page */ 
body,body #page { 
font-family:inherit 
} 

/* customize for .footer-center */ 
.footer-center { 
background-color:#8cff00;
background-image:url(../../image/pattern/pattern14.png) 
} 

/* customize for #footer .footer-center .panel-heading */ 
#footer .footer-center .panel-heading { 
color:#f20000 
} 

/* customize for #footer ul li a, #footer ol li a */ 
#footer ul li a, #footer ol li a { 
color:#2600ff 
} 
