/*@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);*/

/* The slider */
.iviewSlider {
	overflow: hidden;
}

/* The timer in the Slider */
#iview-timer {
	position: absolute;
	z-index: 100;
	border-radius: 5px;
	cursor: pointer;
	display: none!important;
}

/* The Preloader in the Slider */
#iview-preloader {
	position: absolute;
	z-index: 1000;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: #000 1px solid;
	padding: 1px;
	width: 100px;
	height: 3px;
}
#iview-preloader div {
	float: left;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	height: 3px;
	background: #000;
	width: 0px;
}

/* The strips and boxes in the Slider */
.iview-strip {
	display:block;
	position:absolute;
	z-index:5;
}
.iview-block {
	display:block;
	position:absolute;
	z-index:5;
}

/* Direction nav styles (e.g. Next & Prev) */
.iview-directionNav a {
	position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer;
}
.iview-prevNav {
	left:0px;
}
.iview-nextNav {
	right:0px;
}

/* Control nav styles (e.g. 1,2,3...) */
.iview-controlNav {
	position:absolute;
	z-index:9;
}
.iview-controlNav a {
	z-index:9;
	cursor:pointer;
}
.iview-controlNav a.active {
	font-weight:bold;
}
.iview-controlNav .iview-items ul {
	list-style: none;
	padding: 0;
}
.iview-controlNav .iview-items ul li {
	display: inline;
	position: relative;
}
.iview-controlNav .iview-tooltip {
	position: absolute;
}

/* The captions in the Slider */
.iview-caption {
	position:absolute;
	z-index:4;
	overflow: hidden;
	cursor: default;
}

/* The video show in the Slider */
.iview-video-show {
	background: #000;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 101;
}

.iview-video-show .iview-video-container {
	position: relative;
	width: 100%;
	height: 100%;
}

.iview-video-show .iview-video-container a.iview-video-close {
	position: absolute;
	right: 10px;
	top: 10px;
	background: #222;
	color: #FFF;
	height: 20px;
	width: 20px;
	text-align: center;
	line-height: 29px;
	font-size: 22px;
	font-weight: bold;
	overflow: hidden;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
.iview-video-show .iview-video-container a.iview-video-close:hover {
	background: #444;
}

.holder{
	display: none !important;
}

/****************************** STYLE *********************************************/
.container {
	display: block;
	margin: 0px auto;
}

#iview {
	/*overflow: hidden;*/
}

#iview {
	position: relative;
}

#iview .iviewSlider {
	display: block;
	overflow: hidden;
}

/* CONTROL NAVIGATION STYLE */
#iview {
	position:relative;
	z-index: 0;
}
#iview:hover .iview-controlNextNav,
#iview:hover .iview-controlPrevNav
{
	opacity:1;
	visibility: visible;
}
.iview-controlNav {
    position: static;
}

#iview .iview-controlNextNav,
#iview .iview-controlPrevNav {
    top: 50%;
    position: absolute;
    text-indent: -99999px;
    width: 59px;
    height: 59px;
    border-radius: 100%;
}
#iview .iview-controlNextNav{
	left: 50px;
	background: url("../assets/next-left.png") no-repeat 0 0;
}
#iview .iview-controlNextNav:hover, #iview .iview-controlPrevNav:hover{
	background-position: 0 -59px;
}
#iview .iview-controlPrevNav {
    right: 50px;
    background: url("../assets/next-right.png") no-repeat 0 0;
}
.iview-controlNav div.iview-items {
    background: black none repeat scroll 0 0;
    border-radius: 20px;
    bottom: 25px;
    left: 47%;
    list-style: outside none none;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-top: 10px;
    position: absolute;
    z-index: 15;
}

.iview-controlNav a.iview-control {
	padding: 0px;
	float: left;
	width: 11px;
	line-height: 0px;
}

.iview-controlNav div.iview-items ul li a.active {
	background-color:#fff;
	border: 3px solid #fff;
	cursor: default;
}

.iview-controlNav div.iview-items ul li a {
	cursor: pointer;
    display: block;
    height: 10px;
    width: 10px;
	float:right;	
	margin: 0 20px 0 0;
	background-color: transparent;
	border: 2px solid #5c6165;
	text-indent: -9999px;
	bottom: 0px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
}

/* LOADER STYLE */
#iview-preloader {
	border: #666 1px solid;
	width: 150px
}

#iview-preloader div {
	background: #666;
}

/*************************************************** TOOLTIP STYLE **************************************************/
#iview #iview-tooltip {
	display: none;
	position: absolute;
	width: 162px;
	height: 114px;
	bottom: 30px;
	left: -67px;
	padding: 10px;
	z-index: 100;
}

#iview #iview-tooltip div.holder {
	display: block;
	width: 124px;
	height: 84px;
	overflow: hidden;
	border-radius: 2px;
}

#iview #iview-tooltip div.holder div.container {
	display: block;
}

#iview #iview-tooltip div.holder div.container div {
	float: left;
	display: block;
	overflow: hidden;
	width: 124px;
	height: 84px;
	left: -50%;
	text-align: center;
}

#iview #iview-tooltip div.holder div.container div img {
	height: 84px;
	margin: 0 auto;
}


/*************************************************************************** DEFAULT CAPTION STYLE AT HERE ****************************************************************************/
.iview-caption.width-100 {
    width: 100%!important;
    margin: 0 auto;
    text-align: center;
}
.iview-caption {	
	width: auto!important;
	height: auto!important;
}
.caption-contain {
	width: auto!important;
	height: auto!important;
}
.iview-caption .btn-shopnow {
	font-size: 14px;
	border: 2px solid #fff;
	font-weight: 700;
	letter-spacing: 2px;
	color: #fff;
	padding: 10px 40px;
	text-transform: uppercase;
	font-family: "Ubuntu"; 
	display: inline-block;
}
.iview-caption .btn-shopnow:hover {
	border: 2px solid #fff;
	background: #fff;
	color: #000;
	cursor: pointer;
}
.iview-caption.text-white-48 {
	font-size: 48px;
	color: #fff;
	text-transform: uppercase;
	line-height: 54px;
	font-weight: 700;
	font-family: "Ubuntu";	
}
.iview-caption.text-white-small {
	font-size: 16px;
	color: #fff;
	line-height: 30px;
}
.iview-caption.text-white-normal {
	font-size: 18px;
	color: #fff;
	line-height: 30px;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-family: "Ubuntu";
}
.tp-caption.text-black-small {
	font-size: 14px;
	color: #000;
	text-transform: uppercase;
	line-height: 54px;
	font-weight: 700;
	font-family: "Ubuntu";
}
.tp-caption.text-100 {
	font-size: 100px;
	line-height: 54px;
	font-family: "playfair_displaybold";
	letter-spacing: -5px;
	padding: 30px 30px 30px 15px;
}
.tp-caption.text-80 {
	font-size: 80px;
	line-height: 54px;
	font-family: "playfair_displaybold";
	letter-spacing: -5px;
	padding: 30px 30px 30px 15px;
}
.text-brown {
	color: #62323e;
}
.text-blue {
	color: #0885c4;
}
.text-white{
	color: #FFFFFF;
}
.tp-caption.text-gray-30 {
	font-size: 30px;
	color: #a2a2a2;
	text-transform: uppercase;
	line-height: 54px;
	font-weight: 700;
	font-family: "Ubuntu";
	letter-spacing: 5px;
}
.tp-caption.text-gray-24 {
	font-size: 24px;
	color: #a2a2a2;
	text-transform: uppercase;
	line-height: 54px;
	font-weight: 700;
	font-family: "Ubuntu";
	letter-spacing: 5px;
}
.tp-caption.text-white-30 {
	font-size: 30px;
	color: #fff;
	text-transform: uppercase;
	line-height: 54px;
	font-weight: 700;
	font-family: "Ubuntu";
	letter-spacing: 5px;
}
.iview-caption.caption1 {
	font-size: 36px;
	font-weight: bold;
	height: 45px;
}

.iview-caption.caption2 {
	background: #00b4ff;
	font-size: 36px;
	font-weight: bold;
	text-shadow: none;
}

.iview-caption.caption3 {
	background: #FFF;
	color: #000;
	font-size: 26px;
	text-shadow: none;
}

.iview-caption.caption4 {
	font-size: 22px;
	font-weight: bold;
}

.iview-caption.caption5 {
	background: #c4302b;
	box-shadow: rgba(0, 0, 0, 0.7) 10px 10px 15px 0px;
	font-size: 20px;
	font-weight: bold;
	text-shadow: none;
}

.iview-caption.caption6 {
	font-size: 18px;
}

.iview-caption.caption7 {
	text-align: left;
	font-size: 11px;
	color: #888;
	border-radius: 0px;
}

.iview-caption.caption7 div {
	line-height: 200%;
}

.iview-caption.caption7 h3 {
	margin-bottom: 20px;
	color: #FFF;
}

.iview-caption.blackcaption {
	background: #000;
	box-shadow: rgba(0, 0, 0, 0.7) 10px 10px 15px 0px;
	text-shadow: none;
}


/*************************************************************************** CUSTOM CAPTION STYLE AT HERE ****************************************************************************/
.iview-caption.big-caption{	
	font-size: 48px;	
	color: #000000;
}

.iview-caption.big-caption{
	font-weight: bold;	
}

.iview-caption.normal-caption {
	font-weight: 300;
}

.iview-caption.softred1{
	font-weight: 900;
	font-size: 12px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 5px;
	line-height: 25px;
	position: relative;
	font-family: "Roboto", sans-serif !important;
}

.iview-caption.softred2{
	font-weight: 100;
	font-size: 72px;
	color: #fff;
	font-family: "Roboto", sans-serif !important;
}

.iview-caption.softred3{
	font-weight: 900;
	font-size: 72px;
	color: #fff;
	font-family: "Roboto", sans-serif !important;
}

.iview-caption.softred4{
	font-weight: 300;
	font-size: 14px;
	color: #fff;
	font-family: "Roboto", sans-serif !important;
}

.typo-small{
	font-size: 24px;
	font-weight: 300;
}

.typo-big{
	font-size: 36px;
	font-weight: bold;	
}
.typo-small-white{
	color: #FFFFFF;
}

.typo-big-black{
	font-size: 48px;	
}
.green{
	color: #58cbab;	
}

.orange{
	color: #e69268;
	font-size: 24px;
	font-weight: 300;
}

.black{
	color: #000000;
}

.gray{
	color: #737783;
}

