<div id="search" class="input-group pull-right">
	<input type="text" name="search" value="<?php echo $search; ?>" placeholder="<?php echo $text_search; ?>" class="noborder-right form-control" />
	<span class="input-group-btn">
		<button type="button" class="btn btn-default btn-outline-light noborder-left"><i class="fa fa-search"></i></button>
	</span>
</div>