<?php echo $header; ?>
<div class="container">
  <ul class="breadcrumb">
    <?php foreach ($breadcrumbs as $breadcrumb) { ?>
    <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
    <?php } ?>
  </ul>

  <?php if (isset($success) && $success) { ?>
    <div class="alert alert-success"><i class="fa fa-check-circle"></i> <?php echo $success; ?></div>
  <?php } ?>

  <div class="row"><?php echo $column_left; ?>
    <?php if ($column_left && $column_right) { ?>
    <?php $class = 'col-sm-6'; ?>
    <?php } elseif ($column_left || $column_right) { ?>
    <?php $class = 'col-sm-9'; ?>
    <?php } else { ?>
    <?php $class = 'col-sm-12'; ?>
    <?php } ?>
    <div id="content" class="<?php echo $class; ?> ms-account-dashboard"><?php echo $content_top; ?>
    <h1><?php echo $ms_account_dashboard_heading; ?></h1>
    <div class="row">
	<div class="overview col-md-2 text-center">
		<h3><?php echo $ms_account_dashboard_overview; ?></h3>
		<!-- <a href="<?php //echo $this->url->link('seller/catalog-seller/profile', 'seller_id=' . $seller['seller_id']); ?>"> -->
		<img class="img-circle" src="<?php echo $seller['avatar']; ?>" />
		<!-- </a> -->
		<br />
		<span class="nickname"><?php echo $seller['ms.nickname']; ?></span>
	</div>

	<div class="stats col-md-6">
		<h3><?php echo $ms_account_dashboard_stats; ?></h3>
		<div class="table-responsive">
			<table class="table-hover" width="100%">
				<tr>
					<td width="40%">
						<p><span><?php echo $ms_account_dashboard_balance; ?>:</span> 
					</td>
					<td width="60%"><span><?php echo $seller['balance']; ?></span></p>
					</td>
				</tr>
				<tr>
					<td width="40%">
						<p><span><?php echo $ms_account_dashboard_total_sales; ?>:</span> 
					</td>
					<td width="60%"><span><?php echo $seller['total_sales']; ?></span></p>
					</td>
				</tr>
				<tr>
					<td width="40%">
						<p><span><?php echo $ms_account_dashboard_total_earnings; ?>:</span> 
					</td>
					<td width="60%"><span><?php echo $seller['total_earnings']; ?></span></p>
					</td>
				</tr>
				<tr>
					<td width="40%">
						<p><span><?php echo $ms_account_dashboard_sales_month; ?>:</span> 
						</p>
					</td>
					<td width="60%">
						<span><?php echo $seller['sales_month']; ?></span></p>
					</td>
				</tr>
				<tr>
					<td width="40%">
						<p><span><?php echo $ms_account_dashboard_earnings_month; ?>:</span> 
					</td>
					<td width="60%"><span><?php echo $seller['earnings_month']; ?></span></p>
					</td>
				</tr>
			</table>
		</div>
		<!-- <p><span><<?php //echo $ms_date_created; ?>:</span> <span><?php //echo $seller['date_created']; ?></span></p> -->
		<!-- <p><span><?php //echo $ms_account_dashboard_seller_group; ?>:</span> <span><?php //echo $seller['seller_group']; ?></span></p> -->
		<!-- <p>
			<span><?php //echo $ms_account_dashboard_listing; ?>:</span>
			
			<span>
			<?php e//cho $this->currency->format(isset($seller['commission_rates'][MsCommission::RATE_LISTING]['flat']) ? $seller['commission_rates'][MsCommission::RATE_LISTING]['flat'] : 0, $this->config->get('config_currency')); ?>
			+ <?php //echo isset($seller['commission_rates'][MsCommission::RATE_LISTING]['percent']) ? $seller['commission_rates'][MsCommission::RATE_LISTING]['percent'] : '0'; ?>%
			</span>
		</p> -->
		<!-- <p>
			<span><?php //echo $ms_account_dashboard_sale; ?>:</span>
			
			<span>
			<?php //echo $this->currency->format(isset($seller['commission_rates'][MsCommission::RATE_SALE]['flat']) ? $seller['commission_rates'][MsCommission::RATE_SALE]['flat'] : 0, $this->config->get('config_currency')); ?>
			+ <?php //echo isset($seller['commission_rates'][MsCommission::RATE_SALE]['percent']) ? $seller['commission_rates'][MsCommission::RATE_SALE]['percent'] : '0'; ?>%
			</span>
		</p> -->
		<!-- <p>
			<span><?php //echo $ms_account_dashboard_royalty; ?>:</span>
			
			<span>
			<?php //echo isset($seller['commission_rates'][MsCommission::RATE_SALE]['percent']) ? 100 - $seller['commission_rates'][MsCommission::RATE_SALE]['percent'] : '100'; ?>% - 
			<?php //echo $this->currency->format(isset($seller['commission_rates'][MsCommission::RATE_SALE]['flat']) ? $seller['commission_rates'][MsCommission::RATE_SALE]['flat'] : 0, $this->config->get('config_currency')); ?>
			</span>
		</p> -->
	</div>
	<div class="col-md-1"></div>

	<div class="nav col-md-3">
		<h3><?php echo $ms_account_dashboard_nav; ?></h3>
		<a href="<?php echo $this->url->link('seller/account-profile', '', 'SSL'); ?>">
			<!-- <img src="catalog/view/theme/<?php //echo $this->config->get('config_template'); ?>/image/ms-profile.png" /> -->
			<span><?php echo $ms_account_dashboard_nav_profile; ?></span>
		</a>

		<a href="<?php echo $this->url->link('seller/account-product/create', '', 'SSL'); ?>">
			<!-- <img src="catalog/view/theme/<?php //echo $this->config->get('config_template'); ?>/image/ms-bag-plus.png" /> -->
			<span><?php echo $ms_account_dashboard_nav_product; ?></span>
		</a>

		<a href="<?php echo $this->url->link('seller/account-product', '', 'SSL'); ?>">
			<!-- <img src="catalog/view/theme/<?php //echo $this->config->get('config_template'); ?>/image/ms-bag.png" /> -->
			<span><?php echo $ms_account_dashboard_nav_products; ?></span>
		</a>
		
		<!-- <a href="<?php //echo $this->url->link('seller/account-order', '', 'SSL'); ?>">
			<!-- <img src="catalog/view/theme/<?php //echo $this->config->get('config_template'); ?>/image/ms-cart-96.png" /> 
			<span><?php //echo $ms_account_dashboard_nav_orders; ?></span>
		</a> -->
		
		<!-- <a href="<?php //echo $this->url->link('seller/account-transaction', '', 'SSL'); ?>">
			<!-- <img src="catalog/view/theme/<?php //echo $this->config->get('config_template'); ?>/image/ms-book-96.png" /> 
			<span><?php //echo $ms_account_dashboard_nav_balance; ?></span>
		</a> -->
		
		<?php //if ($this->config->get('msconf_allow_withdrawal_requests')) { ?>
		<!-- <a href="<?php //echo $this->url->link('seller/account-withdrawal', '', 'SSL'); ?>">
			<!-- <img src="catalog/view/theme/<?php //echo $this->config->get('config_template'); ?>/image/ms-dollar.png" /> 
			<span><?php //echo $ms_account_dashboard_nav_payout; ?></span>
		</a> -->
		<?php //} ?>
		
		<!-- <a href="<?php //echo $this->url->link('seller/account-stats', '', 'SSL'); ?>">
			<!-- <img src="catalog/view/theme/<?php //echo $this->config->get('config_template'); ?>/image/ms-stats.png" /> 
			<span><?php //echo $ms_account_stats; ?></span>
		</a> -->
	</div>
    </div>

	<h2><?php echo $ms_account_dashboard_orders; ?></h2>
	<table class="list table table-bordered">
		<thead>
			<tr>
				<td><?php echo $ms_account_orders_id; ?></td>
				<?php if (!$this->config->get('msconf_hide_customer_email')) { ?>
					<td><?php echo $ms_account_orders_customer; ?></td>
				<?php } ?>
				<td><?php echo $ms_status; ?></td>
				<td style="width: 40%"><?php echo $ms_account_orders_products; ?></td>
				<td><?php echo $ms_date_created; ?></td>
				<td><?php echo $ms_account_orders_total; ?></td>
				<td><?php echo $ms_action; ?></td>
			</tr>
		</thead>
		
		<tbody>
		<?php if (isset($orders) && $orders) { ?>
			<?php foreach ($orders as $order) { ?>
			<tr>
				<td><?php echo $order['order_id']; ?></td>
				<?php if (!$this->config->get('msconf_hide_customer_email')) { ?>
					<td><?php echo $order['customer']; ?></td>
				<?php } ?>
				<td><?php echo $order['status']; ?></td>
				<td class="left products">
				<?php foreach ($order['products'] as $p) { ?>
				<p>
					<span class="name"><?php if ($p['quantity'] > 1) { echo "{$p['quantity']} x "; } ?> <a href="<?php echo $this->url->link('product/product', 'product_id=' . $p['product_id'], 'SSL'); ?>"><?php echo $p['name']; ?></a></span>
                    <?php foreach ($p['options'] as $option) { ?>
                    <br />
                    &nbsp;<small> - <?php echo $option['name']; ?>:<?php echo $option['value']; ?></small>
                    <?php } ?>
                    <span class="total"><?php echo $this->currency->format($p['seller_net_amt'], $this->config->get('config_currency')); ?></span>
				</p>
				<?php } ?>
				</td>
				<td><?php echo $order['date_created']; ?></td>
				<td><?php echo $order['total']; ?></td>
				<td><a href="<?php echo $this->url->link('seller/account-order/viewOrder', 'order_id=' . $order['order_id']); ?>" class="ms-button ms-button-view" title="<?php echo $this->language->get('ms_view_modify') ?>"></a></td>
			</tr>
			<?php } ?>
		<?php } else { ?>
			<tr>
				<td class="center" colspan="7"><?php echo $ms_account_orders_noorders; ?></td>
			</tr>
		<?php } ?>
		</tbody>
	</table>
	
      <div class="buttons clearfix">
        <div class="pull-left"><a href="<?php echo $link_back; ?>" class="btn btn-default"><?php echo $button_back; ?></a></div>
      </div>
      <?php echo $content_bottom; ?></div>
    <?php echo $column_right; ?></div>
</div>
<?php echo $footer; ?>
