/* $font-family-gotham:   "gotham_regular", sans-serif !default; */
// Iconography
// -------------------------
$icon-font-path:          "../../fonts/";
$theme-font-path:          "../../fonts/";

// Image
// -------------------------
$image-theme-path:'../../image/cyan/';
$image-theme-path-base:  '../../image/'!default;

$cyan:                #ffffff;
$theme-color           :$cyan;
$theme-bg           :#77bdd6;
$body-color           :#1e2327;
$topbar-bg             :#77bdd6;
$topbar-color          :#fff;
$topbar-color-hover	   :#98cddd;
$megamenu-link-color   :#1e2327;
$megamenu-link-bg   :#77bdd6;
$border-color          :#e9ecf5;
$search-icon-color     :#1e2327;
$search-icon-bg  :#1e2327;
$btn-cyan-hover: #77bdd6;
$theme-default-bg: #1e2327;

/*
$font-family-base :$font-family-gotham;
$font-family      :$font-family-gotham;
$headings-font-family:$font-family-gotham; */