/* $font-family-gotham:   "gotham_regular", sans-serif !default; */
// Iconography
// -------------------------
$icon-font-path:          "../../fonts/";
$theme-font-path:          "../../fonts/";

// Image
// -------------------------
$image-theme-path:'../../image/pink/';
$image-theme-path-base:  '../../image/'!default;

$pink:                #ffffff;
$theme-color           :$pink;
$theme-bg           :#e087a7;
$body-color           :#1e2327;
$topbar-bg             :#e087a7;
$topbar-color          :#fff;
$topbar-color-hover	   :#e9a1b9;
$megamenu-link-color   :#1e2327;
$megamenu-link-bg   :#e087a7;
$border-color          :#e9ecf5;
$search-icon-color     :#1e2327;
$search-icon-bg  :#1e2327;
$btn-pink-hover: #e087a7;
$theme-default-bg: #1e2327;

/*
$font-family-base :$font-family-gotham;
$font-family      :$font-family-gotham;
$headings-font-family:$font-family-gotham; */