
// Links

body {
  background-color: $body-bg;
  font-family: $font-family-base;
  font-weight: 200;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $headings-font-family;
}

a {
  &:hover,
  &:focus {
    color: $link-hover-color;
  }
}
.btn-outline-success {
  font-weight: 700;
  line-height: 13px;
}
.btn {
  font-family: $headings-font-family;
  }
//
// Buttons
// --------------------------------------------------
.btn-primary {
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}
.btn-success {
  @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
}

// Mixin for generating new styles
@mixin btn-styles($btn-color: #555) {
  @include gradient-vertical($start-color: $btn-color, $end-color: darken($btn-color, 12%));
  @include reset-filter(); // Disable gradients for IE9 because filter bleeds through rounded corners
  background-repeat: repeat-x;
  border-color: darken($btn-color, 14%);

  &:hover,
  &:focus  {
    background-color: darken($btn-color, 12%);
    background-position: 0 -15px;
  }

  &:active,
  &.active {
    background-color: darken($btn-color, 12%);
    border-color: darken($btn-color, 14%);
  }
}


// Make a button look and behave like a link
.btn-link {
  &:hover,
  &:focus {
    color: $link-hover-color;
  }
}
.carousel-control {
  // Hover/focus state
  &:hover,
  &:focus {
    color: $carousel-control-hover-color;
  }

}
/* .btn-success{
  background-color:#e7ce04;
  border-color:#e7ce04;
} */