// pav carousel
.#{$app-brand-prefix}carousel {
    @media (min-width: $screen-xs-max) {
        .panel-heading {
            display: none;
        }
        .item {
            .product-col {
                position: relative;
            }
        }
        .carousel-control, .carousel-control.right {
            top: 0px;
        }
    }
}