.productdeals {
	.product-block {
		.block-img {
			border-color: #e6e6e6 #e6e6e6 #e6e6e6;
			.image {
				a {
					display: inline-block;
					position: relative;
				}
			}
		}
		.action {
		    width: 100%;
		    visibility: hidden;
		    opacity: 0;
		    border: none;
		    position: absolute;
		    text-align: center !important;
			.cart {
				display: inline-block;
				.btn {
					padding: 10px;
				}
			}
			.compare, .wishlist {
				margin-top: 0px;
		    	background: #ffffff;
		    	opacity: 1;
			}
			.cart, .compare, .wishlist {
				margin-bottom: 0;
				@include rtl-margin-right(5px);
				@include rtl-margin-left(5px);
				border: 1px solid $btn-default-bg;
				.btn {
					border-radius: 0px;
				}
				i.fa {
                    color: $btn-default-bg;
                    border: 0px;
                    border-radius: 0px;
                    font-size: 18px;
				}
                &:hover i.fa {
                	color: $btn-default-color;
                	background: $btn-default-bg;
                	border-color: $btn-default-bg;
                }
			}
			.cart .btn:hover {
				background: transparent none repeat scroll 0 0;
				color: $btn-default-bg;
			}
		}
		&:hover {
			.action {
				opacity: 1;
				visibility: visible;
				bottom: 100px !important;
			}
			.item-countdown {
			    width: 100%;
			    ul,li {
			    	border: none;
			    }
			}
		}
	}
	.price {
		font-size: 24px;
	}
	.rating {
		margin-top: 15px;
	}
	.header-deals {
		text-align: center;
		margin: 0 auto;
		.price {
			margin-top: 0;
			padding-bottom: 0;
		}
	}
	.footer-deals {
		margin-top: 10px;
		//height: 65px;
		border-top: 1px solid $border-color;
		border-bottom: 1px solid $border-color;
		position: relative;
	}
	.item-countdown {
		.countdown_num {
			font-size: 18px;
			font-weight: 700;
			color: $btn-default-color;
			display: block;
		}
		ul {
			margin: 0;
		}
		li {
			text-transform: uppercase;
			color: $bo-tabs-a-color;
			font-family: $font-family-secondary;
			letter-spacing: 2px;
			border-right: 1px solid $border-color;
			padding: 15px 0;
			width: 25%;
			text-align: center;
			font-weight: 700;
			font-size: 12px;
			background: $btn-default-bg;
			&:last-child {
				border: none;
			}
		}
	}
}
.sale-product-sidebar {
	.product-block {
		margin-top: 20px;
		.block-img {
			border: none;
		}
		.header-deals {
			text-align: left;
			background: #f8fafb;
			padding-bottom: 10px;
			padding-left: 20px;
			padding-right: 20px;
			h6 a, .price {
				background: #f8fafb;
				height: auto;
				max-height: 70px;
				padding-bottom: 0px;
			}
			p.description, .rating {
				display: none;
			}
		}
		.footer-deals {
			border: none;
			height: auto;
			margin-top: 8px;
			.item-countdown {
				ul li {
					border-left: 8px solid #ffffff;
					width: 25%;
					padding: 5px;
					&:first-child {
						border-left: 0px;
					}
					span {
						color: #ffffff;
						font-weight: 400;
						font-size: 10px;
					}
					.countdown_num {
						display: block;
						span {
							font-weight: 700;
							font-size: 18px;
						}
					}
				}
			}
		}
		&:hover {
			.footer-deals {
				padding: 0px;
				.action {
					display: none;
				}
				.item-countdown {
					width: 100%;
					li {
						padding: 5px;
					}
				}
			}
		}
	}
}