// newsletter
.#{$app-brand-prefix}-newsletter {
	.heading.heading-after::after {
		background-color: #fff;
	}
    .valid{
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        right: 0;
        margin-top: 5px;
        z-index: 9999;
        .alert {
            @include rtl-margin-right(200px);
        }
    }
    .content {
        position: relative;
    }
    @media (min-width: $screen-sm-max) {
        .formNewLestter {
            width: 100%;
            margin: 0 auto;
            .valid {
                .error.alert-danger {
                    @include rtl-float-right();
                    width: 48%;
                }
            }
        }
    }
}