.testimonials {
    &.testimonials-v1 {
        border-right: 1px solid #1e2327;
        font-size: 14px;
        text-transform: none;
        padding-right: 30px;
        .panel-heading {
            display: inline-block;
            padding: 0px;
            h4.panel-title {
                text-transform: none;
            }
        }
        .carousel-controls.carousel-center {
            position: relative;
            top: -28px;
            right: 0px;
            a {
                color: #1e2327
            }
        }
        .carousel-inner {
            .testimonial-item {
                //padding: 30px;
            }
            .group-pull {
                .testimonials-avatar{
                    margin-right: 30px;
                    li{
                        a{
                            display: inline-block;
                            border: 1px solid $brand-primary;
                            padding: 3px;
                        }
                    }
                }
                .profile {
                    margin-top: 23px;
                    h6 {
                        margin: 0px;
                        font-size: 16px;
                        text-transform: none;
                    }
                }
            }
            .testimonials-description{
                margin: 25px 0;
                overflow: hidden;
                height: 101px;
            }
            .testimonials-name{
                text-transform: uppercase;
            }
            .row {
                .column {
                    position: relative;
                    &:after {
                        background: none repeat scroll 0 0 $border-color;
                        bottom: 0;
                        content: "";
                        height: 50%;
                        margin: auto 0;
                        position: absolute;
                        right: 0;
                        top: 0;
                        width: 1px;
                    }
                    &:last-child {
                        &:after {
                            content: none;
                        }
                    }
                }
            }
        }
    }
}