/* $font-family-gotham:   "gotham_regular", sans-serif !default; */
// Iconography
// -------------------------
$icon-font-path:          "../../fonts/";
$theme-font-path:          "../../fonts/";

// Image
// -------------------------
$image-theme-path:'../../image/red/';
$image-theme-path-base:  '../../image/'!default;

$red:                #ffffff;
$theme-color           :$red;
$theme-bg           :#ee4242;
$body-color           :#1e2327;
$topbar-bg             :#ee4242;
$topbar-color          :#fff;
$topbar-color-hover	   :#ee7675;
$megamenu-link-color   :#1e2327;
$megamenu-link-bg   :#ee4242;
$border-color          :#e9ecf5;
$search-icon-color     :#1e2327;
$search-icon-bg  :#1e2327;
$btn-red-hover: #ee4242;
$theme-default-bg: #1e2327;

/*
$font-family-base :$font-family-gotham;
$font-family      :$font-family-gotham;
$headings-font-family:$font-family-gotham; */