.product-block{
    .block-img {
        position: relative;
       // overflow: hidden;
       border: 1px solid $input-border-header;
       border-bottom: 1px solid $btn-default-bg;
        .img-responsive {
            transition: all ease 0.35s;
        }
    }
    .zoom {
        @include opacity(0);
        @include transition(all 0.4s ease 0s);
        visibility: hidden;
        position: absolute;
        top: 40%;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .action {
        position: absolute;
        bottom: 0px;
        width: 100%;
        @include transition(all 0.4s ease 0s);
        .btn {
            padding: 0px;
            border: none;
        }
        .compare, .wishlist, .quickview {
            margin: 3px;
            margin-bottom: 85px;
            opacity: 0;
            display: inline-block;
            i.fa {
                color: $btn-default-color;
                font-size: 15px;
                border: 1px solid $btn-default-color;
                border-radius: 5px;
                padding: 10px;
                transition: all ease 0.35s;
            }
            &:hover i.fa {
                color: $btn-default-bg;
                background: $btn-default-color;
            }
        }
        .name {
            a {
                transition: all ease 0.35s;
                &:hover {
                    color: #999999;
                }
            }
        }
    }
    &:hover {
        .action, .zoom {
            @include opacity(1);
            visibility: visible;
        }
        .action {
            bottom: 95px;
            .compare, .wishlist, .quickview, .click-view {
                opacity: 1;
            }
        }
        .cart .btn {
            //padding: 9px 20px;
            color: $btn-default-color;
            background: $btn-default-bg;
            i.fa {
                display: inline-block;
            }
        }
        .img-responsive {
            opacity: 0.3;
        }
    }
}
.product-list {
    .product-block {
        .block-img {
            border: 1px solid $input-border-header;
        }
        .action {
            position: static;
            @include rtl-text-align-left();
            .compare, .wishlist, .quickview {
                margin-bottom: 0px;
                i.fa {
                    color: $btn-default-bg;
                    border: 1px solid $btn-default-bg;
                }
                &:hover i.fa {
                    color: $btn-default-color;
                    background: $btn-default-bg;
                    border: 1px solid $btn-default-bg;
                }
            }
        }
        .product-meta p.description {
            height: 55px;
        }
        .price {
            margin-top: 0;
        }
    }
}
.grayscale-gray {
    filter: grayscale(100%);
        -webkit-filter: grayscale(1); /* For Webkit browsers */
        -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        filter: gray; /* For IE 6 - 9 */            
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */        
        //.transition (all 0.2s ease-in-out 0.4s); /* Fade to color for Chrome and Safari */
}
.grayscale-color {
    filter: grayscale(0%);
        -webkit-filter: grayscale(0%);
        -moz-filter: grayscale(0%);
        -ms-filter: grayscale(0%);
        -o-filter: grayscale(0%);
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");            
}
.widget-banner .w-banner {
    position: relative;
}
.widget-banner .w-banner a:before {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0) inset;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: all 0.3s ease-in-out 0s;
    width: 100%;
    z-index: 2;
}
.widget-banner .w-banner:hover a:before {
    box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.3) inset;
}