/* .page-title {
	color: #fff;
	font-size: 36px;
} */
.tree-menu {
	font-size: 14px;
	ul {
		border: none;
		padding: 0;
		margin: 0;
		float: none;
		list-style: none;
		li {
			border-bottom: 1px solid #f8fafb;
			padding: 0;
			float: none;
			position: relative;
			.accordion-heading {
				position: absolute;
				width: 100%;
				top: 0px;
			}
			i {
				text-align: right;
    			padding: 10px 31px;
    			font-size: 14px;
    			display: block;
    			line-height: 1.875;
    		}
			&.open a, a {
				color: $megamenu-link-color;
				padding: 10px 31px;
				width: 100%;
				font-weight: 700;
				background: transparent;
				display: inline-block;
			}
			&:first-child{
                border-top:none;
            }
            &:last-child{
                border-bottom:none;
            }
		}
	}
	ul ul {
		li {
			list-style: none;
			padding: 0;
			background: #f8fafb;
			border-bottom: 1px solid #ebeff1;
			&:hover a:before {
				content: "\f105";
				font-family: FontAwesome;
				padding-right: 15px;
				font-weight: 400;
			}
			a {
    			font-weight: 400;
    			padding-top: 10px;
    			padding-bottom: 10px;
    			width: 100%;
				color: $megamenu-link-color;
				&:hover {
					color: $theme-color;
					font-weight: 700;
					background: #1e2327;
				}
			}
		}
	}
	.vertical {
		.dropdown-submenu:hover {
			> .dropdown-menu {
				display: block;
			}
		}
		.dropdown-menu {
			top: 0;
			@include rtl-left(100%);
			width: 100%;
		}
	}
	.accordion {
		ul {
			li {
				border: none;
				a {
					position: relative;
				}
				i {
					display: inline;
					position: absolute;
					line-height: 1;
					padding: 10px 15px;
					top: 6px;
					@include rtl-right(0px);
					font-style: normal;
				}
				ul {
					li {
						//background: none;
						&:hover {
							//background: none;
						}
						&:hover a {
							font-weight: 400;
						}
						&:hover a:before {
							display: none;
						}
					}
				}
			}
		}
	}
}
.list-group-item {
	ul {
		li {
			list-style: none;
			padding: 8px 0;
			a {
				color: $theme-color-tertiary;
			}
		}
	}
}
div.required .control-label:before {
    color: #f00;
    content: "* ";
    font-weight: bold;
}

.modal-open {
  @include rtl-margin-right(13px);
}

.noborder {
	.box {
		border: none !important;
	}
}