.#{$block-prefix}-highlighted {
    border: $block-module-highlighted-border;   
    .#{$block-heading-selector} {
            background: $block-module-highlighted-bg;
            color: $block-module-footer-heading-color   ; 
    }
    .#{$block-content-selector}{
           
    }
}
.nopadding{
    .panel-body{
        padding:0;
    }
}
.sidebar{
    .panel{
        margin-bottom: $line-height-computed + 10;
        background: #ebeff1;
        .products-block {
            border:none;
            box-shadow:none;
            margin: 0;
        }
    }
}
.producttabs.panel {
    .panel-heading {
        display: none;
    }
}
.nostylingboxs{
    .#{$block-selector} {
        border:none;
        background:none;
        box-shadow:none;
        margin: 0;
    }
    .#{$block-heading-selector} {
        background-color: transparent;
        padding-top: 0;
    }
    .#{$block-content-selector} {
        background-color: transparent;
        padding: 0;
    }
}