.buttons {
    @include clearfix;
    padding: 20px 0;
    .left {
        @include rtl-float-left;
    }
    .right {
        @include rtl-float-right;
    }
}

.checkbox, .radio{
    @include rtl-padding-left(20px);
}
.review-form-width {
	background-color: #fff;
    margin: 10% auto;
    padding: 30px;
    max-width: 600px;
    position: relative;
    z-index: 999999;
    background-color: #fff;
    h2 {
        margin-top: 0px;
    }
    .alert {
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .buttons {
        padding: 0px;
    }
}