/******************************************************
 * $package Pav Opencart Theme Framework for Opencart 1.5.x
 * $version 1.1
 * $author http://www.pavothemes.com
 * $copyright   Copyright (C) Augus 2013 PavoThemes.com <$emai:pavothemes$gmail.com>.All rights reserved.
 * $license     GNU General Public License version 2
 *******************************************************/

body {
    &.layout-boxed-lg {
        #page {
            max-width: $container-lg + 20px;
            @include box-shadow(0 0 5px lighten($gray, 50%));
            margin: 0 auto;
            background: $white;
        }
    }
}

.container{
    //background-color: #FFFFFF;
}
/*
* HEADER
*/

#topbar {
    font-size: $topbar-font-size;
    font-family: $font-family-secondary;
    color: $topbar-color;
    background: $topbar-bg;
    text-transform: uppercase;
    .container {
        .inside {
            padding: $topbar-container-padding 0px;
            .text-phone {
                @include rtl-margin-right(10px);
            }
        }
    }
    ul{
        padding:0;
        margin: 0;
        li {
            padding:0;
        }
        &.list-inline {
            a {
                @include rtl-border-left(1px solid $topbar-border-color);
                color: $topbar-color;
                padding: 0 10px;
                transition: color 0.35s;
                &:hover {
                    color: $topbar-link-hover;
                }
            }
            ul li a {
                border-left: none;
                color: $topbar-link-hover;
            }
        }
        i.fa {
            color: $topbar-border-color;
        }
    }
}
#header-layout {
    border-bottom: 1px solid $input-border-header;
    position: relative;
    z-index: 9;
    margin-bottom: 29px;
    &.header-v1, &.header-v2 {
        .inside {
            padding: 38px 0px 22px;
        }
    }
    &.header-v3 {
        #cart {
            .icon-cart {
                background: url("#{$image-theme-path-base}cart-white.png") no-repeat right bottom;
                width: 18px;
            }
            .cart-inner {
                background: $theme-color;
                padding: 8px 15px;
            }
            .text-cart {
                color: #fff;
            }
            .cart-total {
                background: #fff;
                color: #1e2327;
                &:after {
                    @include rtl-border-right(4px solid #fff);
                }
            }
        }
    }

    &.header-v4, &.header-v5 {
        .row {
            margin-top: -1px;
        }
    }
    &.header-v4 {
        #search {
            input, button {
                height: 60px;
            }
        }
    }
    &.header-v5 {
        .megamenu {
            display: inline-block;
        }
    }
}
.search-focus {
    color: $search-icon-color;
    cursor: pointer;
    border: 1px solid $border-color;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    line-height: 27px;
    text-align: center;
    margin-top: 14px;
}
.nav-search {
    position: absolute;
    z-index: 10;
    top: -44px;
    visibility: hidden;
    overflow: hidden;
    @include size(100%,0);
    @include opacity(0);
    @include transition(all 0.35s ease-out 0s);
    @include rtl-left(0);
    &.open {
        height: 44px;
        top: 0;
        visibility: visible;
        @include opacity(1);
    }
}

/*
* CONTENT
 */
/* .homebuilder {
    .panel-body {
        padding-bottom: 0;
    }
} */
.bootstrap-datetimepicker-widget {
    display: none;
}
#pav-masshead {
    .inner {
        @include container-layout-variant($masshead-color, $masshead-bg, $masshead-color, lighten($masshead-color, 5%));
    }
}

/* #notification {
    > div {
        margin-bottom: 20px;
    }
} */

.breadcrumbs{
    .container{
        background: transparent;
    }
}
/*
* NAVIGATION
*/
#pav-mainnav {
    .inner {
        background-color: $theme-color-secondary;
    }
}

/*
* SLIDESHOW
*/
#pavo-slideshow {}

/*
* SHOWCASE
*/
#pavo-showcase {
    .inner {
        background-color: $showcase-bg;
    }
}
#iview {
    div {
        margin: 0 auto;
        display: block;
    }
}

/*
* PROMOTION TOP
*/
#pav-promotion {}

#breadcrumb {
    padding-left: 0;
    padding-right: 0;
}

/*
* MAIN CONTENT
*/


/**
 * Mass Bottom
 */
#pavo-mass-bottom {
    .container {
        //background: $theme-color;
    }
}
/* NEWSLETTER */
.bd-top {
    margin-right: -9px;
    margin-left: -9px;
    border-top: 1px solid $input-border;
    margin-top: 50px;
}
.pav-newsletter {
    .call-us {
        font-family: $font-family-secondary !important;
        margin-top: 15px;
        font-size: 14px;
        b {
            font-size: 24px;
            font-weight: 700;
            padding-left: 5px;
        }
        i {
            padding-right: 5px
        }
    }
    .input-group div {
        > i.fa {
            position: absolute;
            @include rtl-left(30px);
            color: $input-color-placeholder;
            top: 18px;
            z-index: 9;
        }
    }
    input.form-control {
        @include border-right-radius(30px);
        @include border-left-radius(30px);
        @include rtl-padding-left(55px);
        font-family: $font-family-secondary;
        font-size: 14px;
        margin-top: 5px;
        width: 100%;
    }
    .btn-default {
        font-family: $font-family-secondary;
        font-weight: 700;
        font-size: 14px;
        margin-top: 5px;
        text-transform: uppercase;
        border: 1px solid $input-border !important;
        color: $input-color-placeholder;
        background: #ffffff;
        transition: all ease 0.5s;
        padding: 11px;
        text-align: center;
        width: 100%;
        @include border-right-radius(30px);
        @include border-left-radius(30px);
        &:hover {
            background: $input-color-placeholder;
            color: #ffffff;
            border: 1px solid $input-color-placeholder !important;
        }
    }
}
/*end*/
/* FOOTER */
#footer {
    @include clearfix;
    font-size: $footer-font-size;
    font-weight: 300;
    font-family: $font-family-secondary;
    line-height: 24px;
    border-bottom: 1px solid #34383c;
    padding-top: 30px;
    margin-top: 1px;
    .footer-center {
        color: $footer-heading-color;
        padding-top: 30px;
    }
    .panel-heading {
        padding-bottom: 15px;
        @include rtl-padding-left(0px);
        @include rtl-padding-right(0px);
        margin-bottom: 15px;
        margin-top: 20px;
        border-bottom: 1px solid #34383c;
        > h5 {
            font-size: 15.5px;
            font-family: $font-family-secondary;
        }
    }
    ul, ol {
        margin: 0;
        li {
            line-height: 35px;
            a {
                color: #8f9193;
                transition: all ease 0.5s;
                &:hover {
                    color: $footer-heading-color;
                     @include rtl-padding-left(15px);
                }
            }
        }
    }
    p {
        line-height: 33px;
        color: #8f9193;
    }
    span {
        @include rtl-margin-left(20px);
    }
    @media (min-width: $screen-md) {
        .column {
            position: relative;
            &:after {
                bottom: 0;
                content: "";
                margin: auto 0;
                position: absolute;
                @include rtl-right(0);
                top: 0;
                @include size(1px,50%);
            }
        }
    }
}

.footer-top {
    background: $footer-top-outside-bg;
    border-top: 1px solid $input-border;
    color: #1e2327;
    .container {
        .inside {
            padding-left: 115px;
            padding-right: 115px;
            @include container-layout-variant($footer-top-color, $footer-top-bg, $footer-top-color, $footer-top-color);
        }
    }
}

.footer-center {
    background: $topbar-bg;
    .container {
        //background: $footer-center-bg;
        .inside {
            padding-left: 115px;
            padding-right: 115px;
            @include container-layout-variant($footer-center-color, $footer-center-bg, $footer-center-link, $footer-center-link-hover);
        }
    }
}

.footer-bottom {
    background: $footer-bottom-outside-bg;
    .container {
        //background: $footer-bottom-bg;
        .inside {
            padding-left: 115px;
            padding-right: 115px;
            border-top: 1px solid $footer-bottom-border-color;
            @include container-layout-variant($footer-bottom-color, $footer-bottom-bg, $footer-bottom-link, $footer-bottom-link-hover);
        }
    }
}

/* POWER BY */
#powered {
    background: $topbar-bg;
    color: #8f9193;
    font-size: $footer-font-size;
    font-family: $font-family-secondary;
    .container {
        a {
            color: $footer-heading-color;
        }
        .social {
            @include rtl-text-align-right();
            a {
                @include rtl-padding-left(15px);
                color: #8f9193;
                font-size: 18px;
                transition: all ease 0.5s;
                &:hover {
                    color: $footer-heading-color;
                }
            }
        }
    }
}

// @mixin container-layout-variant($color, $background, $linkcolor,  $link-hover-color )