$new-color: #2b8cdb !default;
$hot-color: #e74848 !default;
$sale-color: red !default;


//
// Navs
// --------------------------------------------------
#pav-megamenu {
    margin-top: -21px;
}
.#{$app-brand-prefix}-megamenu {
    background: $megamenu-outside-bg;
    font-family: $megamenu-font-family;
    .navbar{
        margin: 0;
        border: 0;
    }
    /* menu level 1 */
    .navbar-nav{
        margin: 0;
        float: none;
        > li {
            display: inline-block;
            float: none;
            &.aligned-fullwidth {
                position: static;
                > .dropdown-menu  {
                    width: 100%!important;
                }
                .dropdown-submenu {
                    .dropdown-menu {
                        @include rtl-margin-left(0);
                    }
                }
            }
            &.bg-1 {
                .dropdown-menu {
                    padding: 30px;
                }
            }
            &.aligned-right {
                .dropdown-menu  {
                    @include rtl-right(0);
                    @include rtl-left(auto);
                }
                .dropdown-submenu {
                    .dropdown-menu {
                        @include rtl-margin-right(100%);
                        margin-top: 50px;
                    }
                }
            }
            &.aligned-left {
                .dropdown-menu  {
                    @include rtl-left(0);
                    @include rtl-right(auto);
                }
                .dropdown-submenu {
                    .dropdown-menu {
                        @include rtl-margin-left(100%);
                        margin-top: 50px;
                    }
                }
            }
            &.aligned-center {
                .dropdown-menu  {
                    @include rtl-left(50%);
                    transform: translate(-50%);
                }
                .dropdown-submenu {
                    .dropdown-menu {
                        @include rtl-margin-left(100%);
                    }
                }
            }
            > a{
                padding: $megamenu-parent-padding - 15;
                padding-bottom: 10px;
                padding-top: $megamenu-parent-padding;
                text-transform:  $megamenu-parent-text-transform;
                font-size: $megamenu-link-font-size;
                color: $megamenu-link-color;
                font-weight: $megamenu-font-weight;
                font-family: $font-family-secondary;
                &:hover,&:focus,&:active{
                    color: $megamenu-link-hover-color !important;
                    background: $megamenu-link-color;
                    text-shadow: none;
                }
                &:before{
                    content: '\f103';
                    font-family: 'FontAwesome';
                    position: absolute;
                    @include rtl-right(43%);
                    top: 10px;
                    font-weight: 100;
                    color: $megamenu-link-hover-color;
                    display: none;
                }
                b.caret:before {
                    content: '\f078';
                    font-family: 'FontAwesome';
                    position: absolute;
                    @include rtl-right(4px);
                    bottom: 10px;
                    font-weight: 100;
                    color: $megamenu-link-color;
                    font-size: 9px;
                }
                &b.caret:before {
                    color: $megamenu-link-hover-color;
                }
            }
            &:hover {
                > a:before {
                    color: $megamenu-link-hover-color;
                    display: block;
                }
                a:after{
                    @include opacity(1);
                    width: 30px;
                }
            }
            &.full-width{
                position: static;
            }
        }
    }
    /* level 2 */
    .dropdown-menu{
        @include rtl-text-align-left();
        top: 160%;
        height: auto;
        color: nocolor;
        visibility: hidden;
        border: $megamenu-sub-border;
        min-width: $megamenu-sub-min-width;
        padding: 0px;
        display: block;
        background-color: $megamenu-sub-bg-color;
        @include rounded-corners($megamenu-sub-radius);
        @include box-shadow($megamenu-sub-shadow);
        @include transition(all 0.35s ease-in-out);
        opacity: 0;
        ul,ol {
            padding: 0;
        }
        li{
            line-height: $line-height-computed + 10;
            list-style: none;
            a{
                color: #666666;
                padding: 10px 20px;
                font-size: $megamenu-sub-font-size;
                line-height: 125%;
                width: 100%;
                display: inline-block;
                &:hover{
                    background-color: transparent;
                    font-weight: bold;
                    .fa{
                        color: $megamenu-sub-link-hover-color;
                    }
                }
            }
        }
        .menu-title{
            font-size: $font-size-base - 3;
        }
    }
    .dropdown{
        &:hover{
            > .dropdown-menu{
                visibility: visible;
                top: 100%;
                @include rtl-left(0px);
                opacity: 1;
                .dropdown-submenu {
                    &:hover{
                        > .dropdown-menu{
                            visibility: visible;
                            margin-top: 0px;
                            opacity: 1;
                        }
                    }
                    &:before {
                        content: '\f078';
                        font-family: 'FontAwesome';
                        position: absolute;
                        @include rtl-right(10%);
                        font-size: 10px;
                        font-weight: normal;
                        top: 2.5px;
                    }
                }
            }
            > a{
            color: $megamenu-link-hover-color;
            text-shadow: none;
            background: $megamenu-link-color;
                .fa{
                    color: $megamenu-link-hover-color;
                }
            }
        }
    }
    /* level > 3 */
    .dropdown-submenu{
        position: relative;
        .dropdown-menu{
            top: 0;
            @include rtl-left(100%);
            position: absolute;
        }
        &:hover{
            > .dropdown-menu{
                @include rtl-left(100%);
                display: block;
                top: 0;
            }
        }
    }
    .mega-group {
        & > .dropdown-toggle {
            border: 0;
            display: block;
            letter-spacing: 3px;
            text-transform: uppercase;
            font-family: $megamenu-heading-title;
            color: $megamenu-heading-color;
            .fa{
                color: $white;
            }
        }
    }
    .widget-heading {
        color:$megamenu-widget-title-color;
        margin-top: 0;
    }

    .megamenu .cols1{
        min-width:200px;
    }
    .megamenu .cols2{
        min-width: 500px;
    }
    .megamenu .cols3{
        min-width: 740px;
    }
}
.bg-1 {
    .dropdown-menu {
        h5 {
            margin-bottom: 20px;
        }
    }
}