.slidershow-iview {
    .row-inner > div{
        padding: 0;
    }
}
#iview {
    margin-top: -155px;
    color: #1e2327;
    .iview-caption {
        overflow: visible;
    }
    .grfy, .gyimg2, .ftftt {
        font-family: 'Pacifico';
        font-size: 48.02pt;
    }
    .avtr, .twind {
        font-family: 'Raleway';
        font-size: 72pt;
        color: #1e2327;
    }
    .milkimg2 {
        font-family: 'Raleway';
        font-size: 72pt;
        color: #e3cbb3;
    }
    .dsv-button, .pcs-button {
        padding-bottom: 10px;
        border-bottom: 2px solid #1e2327;
        a {
            font-family: $font-family-secondary;
            font-size: $megamenu-link-font-size + 2;
            font-weight: $megamenu-font-weight;
            padding: 10px 20px;
            border: 1px solid #1e2327;
            transition: all ease 0.5s;
            &:hover {
                background: $topbar-bg;
                color: #ffffff;
            }
        }
    }
    .radius {
        border-bottom: none;
        a {
            border-radius: 20px;
        }
    }
    .caption1-home4 {
        font-family: 'Pacifico';
        font-size: 30px;
        color: #ffffff;
    }
    .caption2-home4 {
        font-family: 'Raleway';
        font-size: 48px;
        color: #ffffff;
    }
    .caption3-home4 a {
        padding: 10px 20px;
        border: 1px solid #ffffff;
        color: #ffffff;
        font-weight: $megamenu-font-weight;
        transition: all ease 0.5s;
        &:hover {
            background: #ffffff;
            color: #1e2327;
        }
    }
}
.group-slider-home3, .group-slider-home4 {
    #iview {
        margin-top: 0px;
        height: 450px !important;
        .iview-controlPrevNav, .iview-controlNextNav {
            display: none;
        }
        .iview-controlNav div.iview-items {
            background: none;
            ul li a {
                border: 1px solid #ffffff;
            }
        }
    }
}
.group-slider-home4 {
    #iview {
        height: 390px !important;
    }
}
// banner builder
.banner-wrapper-margin {
    .banner-wrapper {
        margin-bottom: 20px;
    }
}
.image-item-margin {
    .image-item {
        margin-bottom: 20px;
    }
}
.nomargin .box {
    margin-bottom: 0;
}



.featured-v1 {
    padding: 50px 0;
    ul li {
        @include rtl-float-left();
        width: 16.6667%;
        cursor: pointer;
        @include transition(all 0.4s ease 0s);
        .caption {
            text-align: center;
            margin-top: 30px;
            position: relative;
            @include rtl-border-right(1px solid $border-color);            
        }
        &:last-child {
            .caption {
                @include rtl-border-right(none);
            }
        }
        &:hover {            
            img {
                @extend .grayscale-color;
            }
        }
    }
    img {
        @extend .grayscale-gray;        
    }    
}
.featured-v2 {
    ul li {
        @include rtl-float-left();
        width: 33.3333%;
        padding: 0 8px 18px;
        img {
            width: 60%;
            @include rtl-float-left();
            @include rtl-padding-right(20px);
            @extend .grayscale-gray;
        } 
        &:hover {            
            img {
                @extend .grayscale-color;
            }
        }
    }
    .caption {
        margin: 25px 0;
        h6 {
            margin-bottom: 0;
        }
    }
}

/*pav-infobox*/
.pav-infobox {
    .t-body {
        padding: 50px!important;
    }
    .description {
        padding: 40px 0;
        font-size: 16px;
        text-align: center;
        border-bottom: 1px solid $border-color;
    }
    .htabs{
        background: #e5e5e5;
        color: #666;
    }
    .t-avatar {
        img {
            background: #dbdbdb;
        }
    }
    .nav > li {
        &.active {
            position: relative;
            &:before {
                position: absolute;
                content: "";
                background: $theme-color;                
                top: 50%;
                @include rtl-left(-15px);
                @include size(30px,2px);
            }
            .t-avatar {
                img {
                    background: #fff;
                }
            }
        }
        > a {
            padding: 20px 0;
            color: #666;
            &:hover, &:focus {
                color: #666;
            }
        }
    }
}
/*pavproducts*/
.pavproducts {
    .carousel-controls {
      top: -88px;
    }
    .tab-content {
        padding-top: 0;
    }
}
/*introduce*/
.introduce {
    .media-introduce {
        height: 425px;
    }
    .content-introduce {
        height: 425px;
        position: relative;
        display: table;
    }
    .content {
        position: relative;
        display: table-cell;
        vertical-align: middle;
    }
}
.widget-banner {
    .w-banner {
        margin-bottom: 30px;
        transition: all ease 0.35s;
        img {
            width: 100%;
        }
    }
}