 
 .products-owl-carousel{
     position: relative
 }
 .products-block{
    .product-col-wrap{
        padding-left:$grid-gutter-width/2;
        padding-right:$grid-gutter-width/2;
    }
    .owl-wrapper-outer{
        //margin-left:-$grid-gutter-width/2;
        //margin-right:-$grid-gutter-width/2; 
    }
    &.owl-carousel{
        border:none;
        margin: 0;
    }
    .products-row:last-child {
        .product-block {
            margin-bottom: 0;
        }
    }
}

.price {
    // all page
    font-family: $product-price-font-family;
    margin-top: 57px;
    padding-bottom: 11px;
    background:  $btn-default-color;
    position: relative;
    z-index: 9;
    //margin-bottom: $product-margin-base-horizontal;
    .price-new {
        color: $product-price-color;
        font-weight: $product-price-font-weight;
        font-size: $product-price-font-size;
    }
    .price-old {
        font-size: $product-price-old-font-size;
        color: $product-price-old-color;
        text-decoration: line-through;
    }
    // page product detail
    &.detail {
        .price-new {
            font-size: 36px;
            font-weight: 400;
        }
    }
}

/* product style */
.product-block {
    position: relative;
    width: 100%;
    margin-top: 30px;
    .name {
        margin: 0;
        a {
            color: $product-name-color;
            line-height: 20px;
            font-size: 18px;
            height: 70px;
            overflow: hidden;
            padding-top: 20px;
            padding-bottom: 10px;
            background: $btn-default-color;
            width: 100%;
            display: block;
        }
    }
    a.click-view {
        font-size: 13px;
        font-weight: 700;
        display: none;
    }
    .image {
        position: relative;
        // overflow: hidden;
        text-align: center;
        @include rounded-corners($product-image-radius);
        a {
            display: inline-block;
            background: #000000;
        }
        .img-responsive {
            width: 100%
        }
    }
    .product-meta p.description {
        font-size: 13px;
        background: $btn-default-color;
        margin: 0;
        height: 73px;
        overflow: hidden;
    }
}
.productdeals {
    .image {
        a {
            background: none;
        }
    }
}
.cart {
    background:  $btn-default-color;
    position: relative;
    z-index: 9;
    .btn {
        border-radius: 30px;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700;
        padding: 10px 15px;
        background:  $btn-default-color;
        color: $btn-default-bg;
        i.fa {
            display: none;
        }
    }
}
.product-label {
    color: $product-label-color;
    font-size: $product-label-font-size;
    font-weight: 700;
    text-align: center;
    z-index: 3;
    position: absolute;
    &.ribbon {
        position: absolute;
        @include rtl-right(0);
        top: 0;
        width: 50px;
        height: 50px;
        &:before {
            content: "";
            position: absolute;
            top: 0;
            @include rtl-right(0);
            width: 0;
            height: 0;
            border-top: 50px solid red;
            @include rtl-border-left(50px solid transparent);
        }
        .product-label-special {
            display: block;
            text-align: center;
            height: 100%;
            padding-top: 2px;
            @include rotate(45deg);
        }
    }
    &.ribbon1 {
        width: 85px;
        height: 88px;
        overflow: hidden;
        position: absolute;
        top: 0px;
        @include rtl-right(0px);
        z-index: 99;
        display: block;
        .product-label-special {
            display: block;
            text-transform: uppercase;
            text-align: center;
            @include rotate(45deg);
            position: relative;
            padding: 5px 0;
            left: -5px;
            top: 15px;
            width: 120px;
            background-color: $theme-color;
            color: $white;
            @include box-shadow(0px 0px 3px rgba(0, 0, 0, 0.3));
        }
    }
    &.bts {
        text-align: center;
        display: block;
        text-transform: uppercase;
        width: 46px;
        height: 20px;
        position: absolute;
        top: 10px;
        background-color: $theme-color;
        @include rtl-right(10px);
        border-radius: 2px;
        line-height: 20px;
        .product-label-special {
            display: block;
            width: 100%;
            height: 100%;
            position: relative;
            &:before {
                content: "";
                border-left: 4px solid transparent;
                border-right: 4px solid transparent;
                border-top: 4px solid $theme-color;
                height: 0;
                width: 0;
                position: absolute;
                left: 42%;
                bottom: -4px;
            }
        }
    }
    &.sale {
        // fix font
        text-align: center;
        text-transform: uppercase;
        width: auto;
        height: 25px;
        position: absolute;
        top: -12px;
        background-color: #f85050;
        @include rtl-left(10px);
        @include rtl-padding-left(10px);
        @include rtl-padding-right(10px);
        line-height: 25px;
        font-family: $font-family-secondary;
    }

    &.sale-border {
        text-align: center;
        display: block;
        text-transform: uppercase;
        width: 40px;
        height: 20px;
        position: absolute;
        top: 15px;
        border: 2px solid #d95e41;
        @include rtl-right(10px);
        color: #474747;
    }
    &.flag {
        text-align: center;
        display: block;
        text-transform: uppercase;
        width: 60px;
        height: 30px;
        position: absolute;
        top: 15px;
        background-color: $brand-success;
        @include rtl-left(0);
        line-height: 30px;
        &:before {
            content: "";
            width: 0;
            height: 0;
            position: absolute;
            @include rtl-right(-15px);
            top: 0;
            border-top: 15px solid $brand-success;
            @include rtl-border-right(15px solid transparent);
        }
        &:after {
            content: "";
            width: 0;
            height: 0;
            position: absolute;
            @include rtl-right(-15px);
            bottom: 0;
            border-bottom: 15px solid $brand-success;
            @include rtl-border-right(15px solid transparent);
        }
    }
}
// Rating
.rating {
    //margin-bottom: $product-margin-base-horizontal;
    .fa-stack {
        font-size: 15px;
        width: 15px;
    }
    .fa-star {
        color: #1e2327;
    }
    .fa-star-o {
        color: #1e2327;
    }
}
.product-v2 {
    .product-block {
        .cart {
            .fa {
                display: inline-block!important;
            }
            span {
                display: none;
            }
        }
    }
}
@media (min-width: $screen-sm-max) {
    .products-row {
        &.last {
            .product-block {
                margin-bottom: 0;
            }
        }
    }
    .products-block {
        .products-row:last-child {
            .product-block {
                margin-bottom: 0;
            }
        }
    }
}