/* $font-family-gotham:   "gotham_regular", sans-serif !default; */
// Iconography
// -------------------------
$icon-font-path:          "../../fonts/";
$theme-font-path:          "../../fonts/";

// Image
// -------------------------
$image-theme-path:'../../image/purple/';
$image-theme-path-base:  '../../image/'!default;

$purple:                #ffffff;
$theme-color           :$purple;
$theme-bg           :#705bb8;
$body-color           :#1e2327;
$topbar-bg             :#705bb8;
$topbar-color          :#fff;
$topbar-color-hover	   :#9485c8;
$megamenu-link-color   :#1e2327;
$megamenu-link-bg   :#705bb8;
$border-color          :#e9ecf5;
$search-icon-color     :#1e2327;
$search-icon-bg  :#1e2327;
$btn-purple-hover: #705bb8;
$theme-default-bg: #1e2327;

/*
$font-family-base :$font-family-gotham;
$font-family      :$font-family-gotham;
$headings-font-family:$font-family-gotham; */