/* $font-family-gotham:   "gotham_regular", sans-serif !default; */
// Iconography
// -------------------------
$icon-font-path:          "../../fonts/";
$theme-font-path:          "../../fonts/";

// Image
// -------------------------
$image-theme-path:'../../image/orange/';
$image-theme-path-base:  '../../image/'!default;

$orange:                #ffffff;
$theme-color           :$orange;
$theme-bg           :#f49752;
$body-color           :#1e2327;
$topbar-bg             :#f49752;
$topbar-color          :#fff;
$topbar-color-hover	   :#f6b07d;
$megamenu-link-color   :#1e2327;
$megamenu-link-bg   :#f49752;
$border-color          :#e9ecf5;
$search-icon-color     :#1e2327;
$search-icon-bg  :#1e2327;
$btn-orange-hover: #f49752;
$theme-default-bg: #1e2327;

/*
$font-family-base :$font-family-gotham;
$font-family      :$font-family-gotham;
$headings-font-family:$font-family-gotham; */