/* $font-family-gotham:   "gotham_regular", sans-serif !default; */
// Iconography
// -------------------------
$icon-font-path:          "../../fonts/";
$theme-font-path:          "../../fonts/";

// Image
// -------------------------
$image-theme-path:'../../image/blue/';
$image-theme-path-base:  '../../image/'!default;

$blue:                #ffffff;
$theme-color           :$blue;
$theme-bg           :#366cb4;
$body-color           :#1e2327;
$topbar-bg             :#366cb4;
$topbar-color          :#fff;
$topbar-color-hover	   :#7190bf;
$megamenu-link-color   :#1e2327;
$megamenu-link-bg   :#366cb4;
$border-color          :#e9ecf5;
$search-icon-color     :#1e2327;
$search-icon-bg  :#1e2327;
$btn-blue-hover: #366cb4;
$theme-default-bg: #1e2327;

/*
$font-family-base :$font-family-gotham;
$font-family      :$font-family-gotham;
$headings-font-family:$font-family-gotham; */