/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: $screen-md-min) {
    .row-offcanvas {
        position: relative;
        @include transition(all 0.25s ease-out);
    }
    .row-offcanvas-right {
        @include rtl-right(0);
    }
    .row-offcanvas-left {
        @include rtl-left(0);
    }
    .row-offcanvas-right
    .sidebar-offcanvas {
        @include rtl-right(-50%);
    }
    .row-offcanvas-left
    .sidebar-offcanvas {
        @include rtl-left(-70%);
        height: 100%;
    }
    .row-offcanvas-right.active {
        @include rtl-right(70%);
    }
    .row-offcanvas-left.active {
        @include rtl-left(70%);
    }
    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 70%;
        padding: 0px;
        background: #ebeff1;
        z-index: 99;
        ul, ol {
            padding: 0;
            li {
                list-style: none;
            }
        }
        .panel {
            margin-bottom: 0px;
        }
    }
    .bottom-offcanvas {
        border-top: 1px solid $border-color-base;
        padding: 10px 0;
    }
}

/*offcanvas-menu*/
#offcanvasmenu {
  .navbar-nav {
    float: none;
    > li {
      float: none;
      border-top: 1px solid #dddddd;
      margin-top: 10px;
      >a {
        font-size: 15px;
        padding: 20px 10px;
        padding-bottom: 10px;
        text-transform: uppercase;
        font-weight: 700;
      }
    }
  }
  .dropdown-menu {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
    display: block;
    float: none;
    margin: 0;
    padding: 0 15px;
    position: static;
    visibility: visible;
    width: auto!important;
    min-width: auto;
    @include opacity (1);
    a {
      font-size: 13px;
      padding: 5px 0;
      display: block;
    }
  }
  .product-block .image {
    float: none;
  }
}