// owl-carousel default opencart
body .owl-carousel {
    box-shadow: none;
    background: transparent;
    @include rounded-corners(0);
    border: none;
}




// Module fitter
.filter {
    .filter-title {
        color: #1e2327;
        font-weight: bold;
    }
    .filter-content {
        padding-left: 30px;
        padding-right: 30px;
        label {
            font-weight: 300;
        }
    }

    .radio, .checkbox {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
.cart {
    .dropdown-menu {
        padding: 20px;
        min-width: 400px;
    }
}
.paging {
    text-align: center;
}
// module cart
#cart {
    margin-top: 14px;
    @include rtl-margin-right(15px);
    i.fa-shopping-cart {
        color: $theme-color-black;
        cursor: pointer;
        border: 1px solid $border-color;
        border-radius: 100%;
        width: 30px;
        height: 30px;
        line-height: 27px;
        text-align: center;
    }
    .text-cart {
        font-size: $cart-font-size;
        text-transform: uppercase;
        font-family: $font-family-secondary;
        font-weight: $cart-font-weight;
        color: $cart-color;
        margin: 0 10px;
    }
    .cart-total {
        background: $theme-color-black;
        display: block;
        font-size: $cart-number-product-font-size;
        font-family: $font-family-secondary;
        font-weight: $cart-font-weight;
        line-height: $cart-number-product-height;
        position: relative;
        text-align: center;
        color: #fff;
        top: -41px;
        left: 10px;
        margin: 0 auto;
        transition: all ease 0.45s;
        border-radius: 100%;
        @include size($cart-number-product-width, $cart-number-product-height);
    }
    ul.dropdown-menu {
        visibility: hidden;
        margin-top: 30px;
        transition: all ease 0.35s;
        opacity: 0;
        min-width: 350px;
        padding: 10px;
        //width: 480px;
        .space-padding-20 {
            padding: 0px !important;
            padding-top: 20px !important;
        }
        p a {
            text-align: center;
            font-size: 18px;
            padding:5px 11px;
        }
    }
    &:hover ul.dropdown-menu {
      visibility: visible;
      margin-top: -10px;
      opacity: 1;
    }
}
