/* category */

.category-info {
    padding: 0;
    .image {
        padding: 0;
        margin-bottom: 19px;
    }
}

.category-description {
    display: none;
}

.refine-search {
    ul, ol {
        list-style: none;
        li {
            padding: $padding-small-vertical 0;
            padding-left: 10px;
            margin-right: 10px;
            margin-left: 10px;
            line-height: normal;
            position: relative;
            @include rtl-float-left;
            &:before {
                content: "";
                position: absolute;
                @include size(3px, 3px);
                top: 50%;
                left: 0;
                background-color: $theme-color-default;
            }
        }
    }
    h3 {
        color: #474747;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
    }
}

//
// Account
// --------------------------------------------------------------------

//
// Resgister
// --------------------------------------------------------------------

//
// Login
// --------------------------------------------------------------------

//
// Checkout
// --------------------------------------------------------------------

//sider bar
.sidebar {
    .panel.bestseller {
        background: none;
    }
    .product-col{
        width:100% !important;
        clear:both;
    }
    .product-block{
        overflow: hidden;
        margin-top: 20px;
        margin-bottom: 0;
        .block-img{
            width: 25%;
            @include rtl-float-left();
            border: none;
            .image a {
                background: none;
            }
        }
        .product-meta{
            width: 75%;
            @include rtl-float-right();
            @include rtl-text-align-left();
            @include rtl-padding-left(20px);
            .action {
                display: block;
                position: static;
                 @include rtl-text-align-left();
                .compare, .wishlist, .quickview {
                    display: none;
                }
                .name {
                    margin-top: 0;
                    a {
                        padding: 0px;
                        max-height: 70px;
                        height: auto;
                        font-size: 14px;
                    }
                    background: none;
                }
                p.description {
                    display: none;
                }
            }
            .price {
                margin-top: 5px;
                padding-bottom: 0px;
                background: none;
                font-size: 14px;
                line-height: 1.3;
                .price-old {
                    font-size: 12px;
                    display: block;
                }
            }
        }
        &:hover {
            img {
                opacity: 1;
            }
        }
    }
    .cart,.product-label, .action, .quickview, .zoom {
        display: none;
    }
    .testimonials{
        .panel-heading {
            @include rtl-text-align-left();
        }
        .carousel-controls {
            @include rtl-left(auto);
            top: -48px;
        }
    }
}

.subcategories {
    margin-bottom: -1px;
    background-color: $product-filter-bg;
}

/*
 *  LISTING PRODUCTS PAGE
 */
.product-filter {
    text-transform: uppercase;
    font-size: $product-filter-font-size - 3;
    color: #555555;
    background: $topbar-bg;
    padding: 11px;
    .filter-right {
        margin-top: 2px;
        .sort {
            //@include rtl-margin-right (30px);
        }
        .gr-text {
            span {
                padding-top: 4px;
                padding-bottom: 4px;
                display: block;
                font-size: 12px;
                @include rtl-padding-right(10px);
            }
        }
        .gr-select {
            background: #2d3439;
            overflow: hidden;
            width: 150px;
            border-radius: 4px;
        }
    }
    .display {
        @include rtl-float-left();
        .product-compare {
            height: 35px;
            line-height: 35px;
            @include rtl-margin-right(10px);
            a {
                position: relative;
                display: block;
                min-width: 30px;
                color: $product-filter-color;
            }
            i {
                color: $product-filter-color;
                font-size: 21px;
            }
            span {
                color: $product-name-color;
                background: $product-filter-color;;
                position: absolute;
                top: -5px;
                height: 20px;
                line-height: 20px;
                padding: 0 7px;
                border-radius: 100%;
                font-weight: 700;
            }
        }
    }
    .form-control {
        display: inline-block;
        padding: 5px 45px 5px 5px;
        @include size(auto,30px);
        color: $product-filter-color;
        border: none;
        font-weight: 400;
        text-transform: uppercase;
        width: 167px;
        font-size: 12px;
        background: url(../image/select-bg.png) no-repeat 134px center;
        option {
            color: $product-filter-color;
            padding: 5px 10px;
            border: none;
            background: #2d3439;
        }
    }
    .btn-switch {
       @include size(35px,35px);
        display:  inline-block;
       border: none;
       @include rtl-margin-right(10px);
       font-size: $font-size-base + 5; 
        color: #787878;
        background: none;
        padding: 0;
        line-height: 35px;
        text-align: center;
        @include rtl-float-left();
        &:hover,&.active {
            color: #fff;
            border: none;
            background: none;
            @include box-shadow (none);
        }
    }
}

.product-list{
    .product-col{
        width:100% !important;
        .product-label.sale {
            @include rtl-left(10px);
            @include rtl-right(auto);
        }
        .block-img{
            width: 30%;
            @include rtl-float-left();
        }
        .product-meta{
            width: 70%;
            @include rtl-float-right();
            @include rtl-text-align-left();
            @include rtl-padding-left($padding-large-horizontal);
        }
        clear:both;
        .product-block{ 
           // overflow: hidden; 
        }
     }
}


/* 
* PRODUCT INFORMATION PAGE
*/
.product-info {
    .box-product-infomation {
        margin-top: 20px;
    }
    .image-additional .item {
        text-align: center;
        a {
            display: inline-block;
            margin: 10px 0px;
            border: 1px solid $input-border-header;
            transition: all ease 0.35s;
            &.active {
                @include opacity(1);
            }
            &:hover {
                border: 1px solid $btn-default-bg;
            }
            img {
                width: 100%;
            }
        }
    }
    .thumbs-preview {
        margin-top: 20px;
        a + a {
            margin-left: 10px;
        }
    }
    .vertical {
        &.image-additional {
            .carousel-control{
               // display:none;
            }
        }
        &:hover {
            .carousel-control {
                display: block;
            }
        }
        .center {
            left: 0;
            right: 0;
            margin: 0 auto;
        }

        .top {
            top: -25px;
            bottom: auto;
            width: 100%;
        }

        .bottom {
           top: auto;
           bottom: -25px;
           width: 100%;
        }
    }
    .horical {
        display: block;
        width: 100%;
        text-align: center;
        position: relative;

        &:hover {
            .carousel-control {
                display: block;
            }
        }
    }
    .rating {
        margin-top: -5px;
        text-align: right;
        p {
            margin: 0px;
            padding: 0px;
            line-height: 1;
            font-size: 12px;
            text-transform: uppercase;
            a {
                line-height: 1;
            }
        }
    }
    .image {
        position: relative;
        text-align: center;
        border: 1px solid $input-border-header;
        margin-bottom: 50px;
        img {
            display: inline-block;
            height: auto;
        }
    }
    .product-view {
        .compare, .wishlist {
            margin-right: 10px;
            .btn {
                padding: 0;
                border: none;
                i.fa {
                    color: $btn-default-bg;
                    font-size: 15px;
                    padding: 10px;
                    border: 1px solid $input-border-header;
                    border-radius: 5px;
                    transition: all ease 0.35s;
                }
                &:hover i.fa {
                    color: $btn-default-color;
                    background: $btn-default-bg;
                    border: 1px solid $btn-default-bg;
                }
            }
        }
        h1.name {
            font-size: 24px;
            margin-top: 50px;
            margin-bottom: 20px;
            line-height: 1.2;
        }
        .price {
            margin-top: 15px;
            padding-bottom: 0px;
            z-index: 0;
            position: static;
            .price-new {
                font-size: 24px;
                font-weight: bold;
                line-height: 1;
            }
            .price-old {
                font-size: 16px;
                color: #bbbbbb;
                line-height: 1;
            }
        }
        .addthis_toolbox {
            margin-top: 20px;
            margin-bottom: 20px;
            a {
                @include rtl-float-left();
            }
        }
        #product {
            h3, label.control-label {
                display: none;
            }
            .btn {
                font-size: 14px;
                transition: all ease 0.35s;
                text-align: center;
                font-weight: 700;
                border-radius: 20px;
                text-transform: uppercase;
                &:hover {
                    border: 1px solid $btn-default-border;
                    background: $btn-default-color;
                    color: $btn-default-bg;
                }
            }
            .gr-select,.form-control {
                width: 100%;
                border-radius: 20px;
                font-size: 14px;
                font-weight: 700;
                color: #bbbbbb;
                text-transform: uppercase;
            }
            .gr-select {
                overflow: hidden;
                border: 1px solid $input-border;
                margin-bottom: 30px;
                .form-control {
                    width: 105%;
                    border: none;
                    border-radius: 0px;
                    background: url(../image/select-bg-product-detail.png) no-repeat 90% center;
                }
                .text-danger {
                    position: absolute;
                }
            }
            .upload {
                width: 100%;
            }
            .product-meta {
                margin-left: -9px;
                margin-right: -9px;
                margin-bottom: 20px;
                .quantity {
                    border: 1px solid $btn-default-border;
                    border-radius: 30px;
                    color: $btn-default-bg;
                    width: 100%;
                }
                .cart {
                    width: 100%;
                    position: none;
                    z-index: 0;
                    .btn {
                        border: 1px solid $btn-default-border;
                        background: $btn-default-bg;
                        color: $btn-default-color;
                        width: 100%;
                        i.fa {
                            display: inline-block;
                        }
                        &:hover {
                            border: 1px solid $btn-default-border;
                            background: $btn-default-color;
                            color: $btn-default-bg;
                        }
                    }
                }
            }
            .group-date, .group-datetime {
                margin-left: -9px;
                margin-right: -9px !important;
                .date, .datetime {
                    width: 100%;
                    .btn {
                        width: 100%;
                    }
                }
            }
        }
    }
    .share {
        @include clearfix;
        padding: 20px 0;
        display: none;
    }
    .option-image {
        margin-top: 3px;
        margin-bottom: 10px;
        label {
            display: block;
            width: 100%;
            height: 100%;
        }
        img {
            margin-right: 5px;
            margin-left: 0;
            border: 1px solid #CCCCCC;
            cursor: pointer;
        }
    }
    .options {
        margin-bottom: 20px;
    }
    .review {
        .share {
            line-height: normal;
            a {
                text-decoration: none;
            }
        }
        & > div {
            padding: 0;
            border: 0;
            & > span {
                color: #38B0E3;
            }
        }
    }

    .qty {
        line-height: 40px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 12px;
        @include rtl-padding-left(18px);
        font-family: $font-family-secondary;
        display: inline-block !important;
    }
    .product-meta {
        > div  {
            // @include rtl-margin-right(10px);
        }
    }
    .quantity-adder {
        color: #1e2327;
        display: block;
        position: relative;
        .gr-add-action {
            //margin-top: 11px;
            .add-action {
                @include size(100%, auto);
                color: $theme-color-default;
                display: block;
                position: relative;
                cursor: pointer;
                font-size: 20px;
                line-height: 1;
                text-align: center;
            }
        }
        .quantity-number {
            input {
                @include size(40px, 40px);
                text-align: right;
                @include inline-block;
                @include rounded-corners(0);
                border: none;
                box-shadow: none;
                color: $theme-color-default !important;
                padding: 0;
            }
        }
        .minimum {
            line-height: 38px;
            font-size: 11px;
            @include rtl-margin-left(10px);
        }
    }
}
.related {
    .owl-wrapper-outer{
        border: none;
        box-shadow: none;
        @include rounded-corners(0);
        @include box-shadow(none);
    }
}
.zoomWindowContainer .zoomWindow {
    @include rtl_left(500px);
}
.box-product-infomation {
    .col-lg-1, .col-md-1, .col-sm-2, .col-xs-4 {
        padding: 0px;
    }
    .col-lg-11, .col-md-11, .col-sm-10, .col-xs-8 {
        padding: 30px;
        border: 1px solid $input-border-header;
        min-height: 232px;

    }
}
