@media (min-width: $screen-lg-min) {
    .container-inside {
	  padding: 40px 115px;
        .panel-body {
            padding-bottom: 0;
        }
    }
}
@media (max-width: $screen-lg-min) {
  .container-inside{
      padding: 20px;
  }
}
@media (max-width: $screen-md-max){
    #topbar .container .inside {
        padding: 10px;
    }
    #header-layout{
        &.header-v1, &.header-v2 {
            .inside {
                padding: 20px 0px;
            }
        }
    }
    .feature-box {
        padding: 20px !important;
    }
}
/*$media (min-width: 992px) and (max-width: 1199px)*/
@media (min-width: $screen-md) and (max-width: $screen-md-max){
    .header-v2, .header-v1 {
    	.pav-megamenu .navbar-nav > li > a {
    		padding-left: 9px;
    		padding-right: 9px;
    	}
    }
    .latest_blog {
        &.blog-v2 {
            .description {
                max-height: 52px;
                overflow: hidden;
            }
        }
    }
    .introduce {
        .detail {
            max-height: 90px;
            overflow: hidden;
        }
    }
    .productdeals.deals {
        .product-block:hover .footer-deals > div {
            float: none;
            width: 100%;
            text-align: center;
        }
    }
    .pav-infobox .description {
        overflow: hidden;
        max-height: 288px;
        border: none;
    }
    #iview {
        margin-top: -134px;
    }
}
/*$media (max-width: 991px) {*/
@media (max-width: $screen-sm-max) {
    #iview {
        margin-top: -134px;
        .iview-caption {
            display: none;
        }
    }
    .quickview, .product-zoom, .zoomContainer {
        display: none;
    }
    .product-block {
        .action {
            @include opacity(1);
            visibility: visible;
            bottom: 0px;
            width: 100%;
            .compare, .wishlist, .quickview, .click-view {
                opacity: 1;
                margin-bottom: 0px;
                i.fa {
                    color: $btn-default-color !important;
                    background: $btn-default-bg;
                    border: 1px solid  $btn-default-bg;
                }
                &:hover i.fa {
                    color: $btn-default-bg !important;
                }
            }
            h6.name {
                height: 60px;
                padding-top: 10px;
            }
        }
        .price {
            margin-top: 100px;
        }
        &:hover {
            .action {
                bottom: 0px;
            }
            .img-responsive {
                opacity: 1;
            }
        }
    }
    .product-view .row > div {
        clear: both;
        padding: 10px 0 !important;
    }
    .product-list{
        .product-col {
            .block-img, .product-meta {
                width: 50%;
            }
        }
    }
    .product-info .action {
        border: none;
    }
    .box-product-infomation .tab-content {
        padding: 15px !important;
    }
    #footer .row > div {
        margin: 15px 0;
    }
    .featured-v1 ul li {
        width: 33.3333%;
        .caption {
            border-right: none;
        }
    }
    .pav-infobox {
        .t-body {
            padding: 35px !important;
        }
        ul > li {
            display: inline-block;
            margin: 0 20px;
        }
        .description {
            border: none;
            max-height: 280px;
            overflow: hidden;
        }
    }
    .interactive-banner-profile.text-center {
        .hidden-sm, .hidden-xs {
            display: block !important;
            a {
                color: #ffffff !important;
            }
        }
    }
    .effect-v2:before, .effect-v2:after, .effect-v4:before, .effect-v4:after {
        opacity: 1 !important;
        filter: alpha(opacity=100) !important;
        -webkit-transform: scale(1) !important;
        -ms-transform: scale(1) !important;
        -o-transform: scale(1) !important;
        transform: scale(1) !important;
    }
    /* line 142, ../scss/animation.scss */
    .effect-v2 img, .effect-v4 img {
        opacity: 0.2 !important;
        filter: alpha(opacity=90) !important;
        transform: scale(1) !important;
    }
    /* line 145, ../scss/animation.scss */
    .effect-v2 .banner-title, .effect-v2 .action{
        opacity: 1 !important;
        filter: alpha(opacity=100) !important;
        -webkit-transform: translate3d(0px, 40px, 0px) !important;
        transform: translate3d(0px, 40px, 0px) !important;
    }
    .effect-v2 .desception, .effect-v2 .action {
        opacity: 1 !important;
        filter: alpha(opacity=100) !important;
        -webkit-transform: translate3d(0px, -45px, 0px) !important;
        transform: translate3d(0px, -45px, 0px) !important;
    }
    .effect-v4 .banner-title, .effect-v4 .action {
        opacity: 1 !important;
        filter: alpha(opacity=100) !important;
        -webkit-transform: translate3d(0px, 55px, 0px) !important;
        transform: translate3d(0px, 55px, 0px) !important;
    }
    .effect-v4 .desception, .effect-v4 .action {
        opacity: 1 !important;
        filter: alpha(opacity=100) !important;
        -webkit-transform: translate3d(0px, -135px, 0px) !important;
        transform: translate3d(0px, -135px, 0px) !important;
    }
    .productdeals .product-block .action {
        display: none;
    }
}
/*$media (min-width: 768px) and (max-width: 991px) {*/
@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
    .featured-v2 ul li {
        text-align: center;
        img {
            float: none;
            @include rtl-padding-right(0);
            width: auto;
        }
    }
    .productdeals .product-block:hover .action {
        display: none !important;
    }
    .productdeals .product-block:hover .item-countdown {
        width: 100% !important;
    }
}

/*$media (max-width: 767px) {*/
@media (max-width: $screen-xs-max) {
    #header-layout{
        &.header-v1, &.header-v2, &.header-v3 {
            .logo {
                text-align: center;
                margin-bottom: 20px;
            }
            .pav-mainnav {
                @include rtl-text-align-left();
            }
        }
    }
    .tab-v4, .tab-v5 {
        .nav-tabs > li {
            > a {
                padding-left: 30px;
                padding-right: 20px;
            }
        }
    }
    .featured-v2 ul li {
        width: 100%;
        float: none;
        margin: 5px 0;
        overflow: hidden;
    }
    .product-list{
        .product-col {
            .block-img, .product-meta {
                width: 100%;
                text-align: center;
                padding-left: 0px;
            }
        }
        .product-block .action {
            text-align: center !important;
        }
    }
    .product-info .product-meta > div:first-child {
        float: none!important;
        width: 100%;
        overflow: hidden;
        margin-bottom: 15px;
    }
    #input-search {
        margin-bottom: 10px;
    }
    .product-filter {
        .filter-right {
            .category, .limit, .sort {
                margin-bottom: 5px;
                .gr-text {
                    width: 50%;
                }
            }
        }
    }
}

/*$media (max-width: 480px) {*/
@media (max-width: $screen-phone) {
    #header-layout{
        &.header-v3 {
            .column {
                width: 100%;
                margin: 10px 0;
            }
            #search {
                width: 195px;
            }
        }
    }
    .tab-v4, .tab-v5 {
        .nav-tabs {
            //padding-top: 20px;
            > li {
                float: none;
                display: block;
                > a {
                    //padding-top: 0;
                }
            }
        }
    }
    .featured-v1 ul li {
        width: 100%;
        text-align: center;
    }
    .productdeals .product-block:hover {
        .footer-deals > div {
            float: none;
            width: 100%;
            text-align: center;
        }
    }
    .pavproducts .carousel-controls {
        position: static;
        margin-bottom: 20px;
    }
    .product-info .product-meta > div {
        float: none!important;
        width: 100%;
        overflow: hidden;
        margin-bottom: 15px;
    }
    .product-info .image {
        margin-top: 30px;
    }
    .navbar-nav {
        @include rtl-margin-right(0px);
    }
    .deals {
        .filter-right {
            .category, .limit, .sort {
                margin-bottom: 5px;
                .gr-text {
                    width: 50%;
                }
            }
        }
    }
    .productdeals .product-block:hover .action {
        display: none !important;
    }
    .productdeals .product-block:hover .item-countdown {
        width: 100% !important;
    }
    .effect-v4 {
        .banner-title {
            margin-bottom: 0px !important;
            display: none;
            h3 {
                padding-bottom: 0px !important;
            }
        }
        .desception, .action {
            transform: translate3d(0px, -185px, 0px) !important;
            line-height: 140%;
            p {
                margin-bottom: 0px !important;
            }
            h3 {
                font-size: 16px !important;
            }
            strong {
                font-size: 18px !important;
            }
        }
    }
    .effect-v2 {
        .banner-title {
            margin-top: -75px !important;
            margin-bottom: 0px !important;
            opacity: 0 !important;
            h3 {
                padding-bottom: 0px !important;
                font-size: 18px !important;
            }
        }
        .desception, .action {
            line-height: 140% !important;
            p {
                font-size: 16px !important;
                margin-bottom: 5px !important;
            }
            h3 {
                font-size: 20px !important;
                margin-top: 0px !important;
                margin-bottom: 10px !important;
            }
            strong {
                font-size: 20px !important;
            }
        }
        &:before, &:after {
            top: 10px !important;
            left: 10px !important;
            bottom: 10px !important;
            right: 10px !important;
        }
    }
    .product-block {
        margin-top: 20px;
        .header-deals {
            text-align: left;
            background: #f8fafb;
            padding-bottom: 10px;
            padding-left: 20px;
            padding-right: 20px;
            h6 a, .price {
                background: #f8fafb;
                height: auto;
                max-height: 70px;
                padding-bottom: 0px;
            }
            p.description, .rating {
                display: none;
            }
        }
        .footer-deals {
            border: none;
            height: auto;
            margin-top: 8px;
            .item-countdown {
                ul li {
                    width: 25%;
                    padding: 5px;
                    &:first-child {
                        border-left: 0px;
                    }
                    span {
                        //color: #ffffff;
                        font-weight: 700;
                        font-size: 10px;
                    }
                    .countdown_num {
                        display: block;
                        span {
                            font-weight: 700;
                            font-size: 18px;
                        }
                    }
                }
            }
        }
        &:hover {
            .footer-deals {
                padding: 0px !important;
                .action {
                    display: none;
                }
                .item-countdown {
                    width: 100%;
                    li {
                        padding: 5px;
                    }
                }
            }
        }
    }
}

@media (max-width: 320px) {
    #header-layout{
        &.header-v1, &.header-v2 {
            #cart {
                .text-cart, .cart-total {
                    //display: none;
                }
            }
        }
        &.header-v4 {
            .inside {
                padding: 0!important;
            }
        }
    }
    #cart {
        .content {
            font-size: 11px;
        }
        .btn {
            display: block;
        }
    }
    .cart span {
        //display: none;
    }
    .productdeals {
        .image a {
            display: block;
        }
        .footer-deals {
            height: auto;
        }
        .item-countdown {
            li {
                width: 22%;
            }
        }
    }
    .filter-right {
        > div {
            margin-top: 5px;
        }
    }
    .pav-infobox {
        ul > li {
            display: block;
        }
    }
    .call-to-action-v6 {
        padding: 20px;
        outline: none;
    }
    .footer-center, .footer-bottom, #powered {
        .container .inside {
            padding-left: 0;
            padding-right: 0;
        }
    }
    .pav-newsletter {
        .input-group {
            display: block;
            text-align: center;
            .form-control {
                display: inline-block;
                float: none;
                margin-bottom: 10px;
            }
        }
    }
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
        line-height: 30px;
    }
    .buttons > div {
        float: none !important;
        margin: 5px 0;
    }
}