@media (min-width: $screen-md) {
	.same-height-column {
		.row.inner {
			display: table;
			width: 100%;
			> [class*="col-"] {
				float: none;
				display: table-cell;
				vertical-align: middle;
			}
		}
	}
}
.col-nopadding{
	.row{
		margin-left: 0;
		margin-right: 0;
		[class*="col-"]{
			padding-left: 0;
			padding-right: 0;
		}
	}
}

.comment-warning {
	color: red;
}
.list-arrow {
	> li > a{
		padding: 0 20px!important;
	}
}
//wiget social
.social {
	
}
//wiget about
.about {
	span {
		color: $theme-color-tertiary;
	}
	.fa {
		margin: 0 5px;
	}
}

/* back top top */
.scrollup {
    background: $theme-color;
    bottom: 82px;
    display: none;
    position: fixed;
    @include rtl-right(10px);
    @include rounded-corners(100%);   
    @include size(40px,40px);
	text-align: center;
	font-size: 13px;
	color: #1e2327 !important;
	text-transform: uppercase;
	font-weight: 700;
	font-family: $font-family-secondary;
	padding: 2px;
	z-index: 9999;
	.fa { display: block;}
}
.pav-comment {
	.pave-listcomments {
		margin-bottom: 25px;
		.pagination {
			display: none;
		}
	}
}
.quick-view {
	.product-view {
		#product {
			max-width: 350px;
		}
	}
}
.pav-blog {
	img.space-padding-r20 {
		@include rtl-float-left();
		@include rtl-padding-right(20px);
	}
}
.pavblog-comments {
	padding-top: 10px;
}