#topbar {
    ul i.fa, .dropdown-toggle, ul.list-inline a:hover {
        color: $topbar-color-hover;
    }
    ul.list-inline a {
        border-left: 1px solid $topbar-color-hover;
    }
}
.dropdown-menu li > button:hover, .dropdown-menu li > button:focus,.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: $topbar-color-hover;
}
.pav-megamenu .navbar-nav > li > a:hover, .pav-megamenu .navbar-nav > li > a:focus, .pav-megamenu .navbar-nav > li > a:active, .pav-megamenu .dropdown:hover > a {
    background: $megamenu-link-bg;
}
#cart i.fa-shopping-cart, .search-focus {
    border-color: $search-icon-bg;
}
#iview .dsv-button a:hover, #iview .pcs-button a:hover {
    border-color: $btn-pink-hover;
}
/* latin */
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(http://fonts.gstatic.com/s/pacifico/v7/Q_Z9mv4hySLTMoMjnk_rCfesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url(http://fonts.gstatic.com/s/raleway/v9/0dTEPzkLWceF7z0koJaX1A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
.iview-controlNav div.iview-items {
    background: $theme-bg;
    ul li a {
        border: 2px solid #ffffff !important;
    }
}
.container-fluid:nth-of-type(2) {
    background: $theme-bg;
    .space-30 .fbox-body p {
        color: $pink;
    }
}
.pav-newsletter .btn-default {
    &:hover {
        background: $btn-pink-hover;
        border: 1px solid $btn-pink-hover !important;
        color: $pink;
    }
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle, .product-block:hover .cart .btn,
.product-info .product-view #product .btn:hover, .product-info .product-view #product .product-meta .cart .btn:hover {
    background: $btn-pink-hover;
    border: 1px solid $btn-pink-hover !important;
    color: $pink;
}
#footer {
    .footer-center {
        background: $theme-default-bg;
    }
}
#powered {
     background: $theme-default-bg;
}
.panel {
    &-v1 {
        > .panel-heading {
            background: $theme-bg;
        }
    }
}
.tree-menu ul ul li a:hover {
     background: $theme-bg;
}
.product-filter .btn-switch {
    color: $body-color;
}
.carousel-control:hover, .carousel-control:focus {
    color: #1e2327;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background: $btn-pink-hover;
}
.rating {
    .fa-star-o, .fa-star {
        color: $btn-pink-hover;
    }
}
.productdeals {
    .item-countdown li {
        background: $theme-bg;
        color: $body-color;
    }
    .product-block:hover .cart .btn {
        background: $theme-default-bg !important;
        border: 1px solid $theme-default-bg !important;
        &:hover {
            color: $pink;
        }
    }
}
.panel-v1 .carousel-control {
    color: $pink;
}
.tab-v5 {
    background: $theme-bg;
}
.tab-v5 .nav-tabs > li > a {
    color: #e8b5c6;
}
.tab-v5 .nav-tabs > li.active > a:hover, .tab-v5 .nav-tabs > li.active > a:focus, .tab-v5 .nav-tabs > li.active > a {
    background: #ca6f90;
}