/* $font-family-gotham:   "gotham_regular", sans-serif !default; */
// Iconography
// -------------------------
$icon-font-path:          "../../fonts/";
$theme-font-path:          "../../fonts/";

// Image
// -------------------------
$image-theme-path:'../../image/brown/';
$image-theme-path-base:  '../../image/'!default;

$brown:                #ffffff;
$theme-color           :$brown;
$theme-bg           :#5f4d4d;
$body-color           :#1e2327;
$topbar-bg             :#5f4d4d;
$topbar-color          :#fff;
$topbar-color-hover	   :#827877;
$megamenu-link-color   :#1e2327;
$megamenu-link-bg   :#5f4d4d;
$border-color          :#e9ecf5;
$search-icon-color     :#1e2327;
$search-icon-bg  :#1e2327;
$btn-brown-hover: #5f4d4d;
$theme-default-bg: #1e2327;

/*
$font-family-base :$font-family-gotham;
$font-family      :$font-family-gotham;
$headings-font-family:$font-family-gotham; */