.rtl {
	ul, ol {
	    padding-right: 0;
	}
	.zoomContainer .zoomWindow {
	    right: 100% !important;
	}
	#cart .icon-cart {
		background-position: left bottom;
	}
	#iview .iview-controlNextNav {
		text-indent: -99999em;
	}
	#iview .iview-controlPrevNav {
		text-indent: -99999em;
	}
	.panel-v2 .panel-heading::after {
		left: 0;
	}
	.breadcrumbs .breadcrumb-links > li::after {
	    color: #fff;
	    content: "\f104";
	    font-family: FontAwesome;
	    font-size: 14px;
	    padding: 0 15px;
	}
	.breadcrumbs .breadcrumb-links > li + li {
		&:before, &:after {
		    content: none;
		}
	}
	.noborder-left {
		border-right: none;
		border-left: 1px solid #e6e6e6;
	}
	.noborder-right {
		border-left: none;
		border-right: 1px solid #e6e6e6;
	}
	.head a {
	    float: left!important;
	}
	.pav-megamenu .navbar-nav > li.aligned-center .dropdown-menu {
		transform: translate(50%);
	}
	#pav-paneltool form > * {
		float: right;
	}
	.product-label.sale {
		padding-right: 10px !important;
	}
	.product-filter .form-control {
		background: url("../image/select-bg.png") no-repeat scroll 120px center;
		text-align: left;
		padding-left: 10px;
	}
	.footer-deals {
		.item-countdown {
			ul li {
				&:last-child {
					border-left: 0px !important;
				}
			}
		}
	}
      .verticalmenu {
        float: none;
          li {
            float: none;
            a {
            border-bottom: 1px solid #f8fafb;
            width: 100%;
            line-height: 1.875;
            padding: 10px 31px;
              &.dropdown-toggle {
                  position: relative;
                  b.caret:before {
                    content: "\f104";
                    font-family: FontAwesome;
                    font-weight: normal;
                    text-decoration: inherit;
                    font-size: 18px;
                    position: absolute;
                    top: 7px;
                    left: 25px;
                  }
              }
            }
            div.dropdown-menu {
              top: -1px;
              padding: 0px;
              margin-top: 0px;
              border-radius: 0px !important;
              visibility: hidden;
              transition: all ease 0.35s;
              opacity: 0;
              right: 120%;
              .dropdown-menu-inner {
                padding: 0px;
              }
            }
            ul li {
              position: relative;
              a {
                line-height: 1.875;
                color:#999;
                font-size: 14px;
                &:hover {
                  color: $navbar-default-link-color;
                }
              }
            }
            &.parent.dropdown {
              &:hover div.dropdown-menu.level1 {
                visibility: visible;
                opacity: 1;
                right: 100%;
              }
            }
            &.parent.dropdown-submenu {
              &:hover div.dropdown-menu.level2 {
                visibility: visible;
                opacity: 1;
                right: 100%;
              }
            }
          }
      }
}