//
// Dropdown menus
// --------------------------------------------------


// Dropdown arrow/caret
.caret {
  width: 0;
  height: 0;
  margin-right: 2px;
  vertical-align: middle;
}

// The dropdown wrapper (div)
.dropdown {
    position: relative;
}
.dropdown-toggle:focus {
    outline: 0;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: $zindex-dropdown;
    float: left;
    min-width: 170px;
    padding: 10px;
    list-style: none;
    font-size: $font-size-base - 2;
    text-align: left;
    background-color: $dropdown-bg;
    border: 1px solid $dropdown-fallback-border;
    border: 1px solid $dropdown-border;
    border-radius: $border-radius-base;
    display: none;
    @include box-shadow(0 6px 12px rgba(0,0,0,.175));
    background-clip: padding-box;
    &.pull-right {
        right: 0;
        left: auto;
    }
    .divider {
        @include nav-divider($dropdown-divider-bg);
    }
    > li > a {
        display: block;
        padding: 0px 10px;
        clear: both;
        font-weight: normal;
        line-height: 200%;
        color: $dropdown-link-color;
        white-space: nowrap;
    }
    li > button {
        color: #1e2327;
        font-size: $font-size-base - 2;
        text-transform: uppercase;
        line-height: 200%;
        border: none;
        &:hover, &:focus {
            text-decoration: none;
            color: $dropdown-link-hover-color;
            background-color: $dropdown-link-hover-bg;
        }
    }
}
.dropdown-menu > li > a {
    &:hover, &:focus {
        text-decoration: none;
        color: $dropdown-link-hover-color;
        background-color: $dropdown-link-hover-bg;
    }
}
.dropdown-menu > .active > a {
    &, &:hover, &:focus {
        color: $dropdown-link-active-color;
        text-decoration: none;
        outline: 0;
        background-color: $dropdown-link-active-bg;
    }
}
.dropdown-menu > .disabled > a {
    &, &:hover, &:focus {
        color: $dropdown-link-disabled-color;
    }
    &:hover, &:focus {
        text-decoration: none;
        background-color: transparent;
        background-image: none;
        @include reset-filter;
        cursor: $cursor-disabled;
    }
}
.open {
    .dropdown-menu {
        display: block;
    }
    a {
        outline: 0;
    }
}
.dropdown-menu-right {
    right: 0;
}
.dropdown-menu-left {
    left: 0;
    right: auto;
}
.dropdown-header {
    display: block;
    padding: 3px 20px;
    font-size: $font-size-small;
    line-height: $line-height-base;
    color: $dropdown-header-color;
    white-space: nowrap;
}
.dropdown-backdrop {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: ($zindex-dropdown - 10);
}
.pull-right > .dropdown-menu {
    right: 0;
    left: auto;
}
.dropup, .navbar-fixed-bottom .dropdown {
    .caret {
        border-top: 0;
        border-bottom: $caret-width-base solid;
        content: "";
    }
    .dropdown-menu {
        top: auto;
        bottom: 100%;
        margin-bottom: 1px;
    }
}
@media (min-width: $grid-float-breakpoint) {
    .navbar-right {
        .dropdown-menu {
            right: 0;
            left: auto;
        }
        .dropdown-menu-left {
            left: 0;
            right: auto;
        }
    }
}
