//
// Wells
// --------------------------------------------------


// Base class
.well {
  min-height: 20px;
  //padding: 19px;
  //margin-bottom: 20px;
  //background-color: $well-bg;
  //border: 1px solid $well-border;
  //border-radius: $border-radius-base;
  //@include box-shadow(inset 0 1px 1px rgba(0,0,0,.05));
  blockquote {
    border-color: #ddd;
    border-color: rgba(0,0,0,.15);
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 16px;
  }
  .form-horizontal  {
    .row {
      margin-left: 0px;
      margin-right: 0px;
      .row {
        margin-left: -9px;
        margin-right: -9px;
      }
    }
  }
}

// Sizes
.well-lg {
  padding: 24px;
  border-radius: $border-radius-large;
}
.well-sm {
  padding: 9px;
  border-radius: $border-radius-small;
}
