/* $font-family-gotham:   "gotham_regular", sans-serif !default; */
// Iconography
// -------------------------
$icon-font-path:          "../../fonts/";
$theme-font-path:          "../../fonts/";

// Image
// -------------------------
$image-theme-path:'../../image/olive/';
$image-theme-path-base:  '../../image/'!default;

$olive:                #ffffff;
$theme-color           :$olive;
$theme-bg           :#78766a;
$body-color           :#1e2327;
$topbar-bg             :#78766a;
$topbar-color          :#fff;
$topbar-color-hover	   :#99968d;
$megamenu-link-color   :#1e2327;
$megamenu-link-bg   :#78766a;
$border-color          :#e9ecf5;
$search-icon-color     :#1e2327;
$search-icon-bg  :#1e2327;
$btn-olive-hover: #78766a;
$theme-default-bg: #1e2327;

/*
$font-family-base :$font-family-gotham;
$font-family      :$font-family-gotham;
$headings-font-family:$font-family-gotham; */